﻿.TextoCapitalLabel {
	font-family: Arial;
	font-size: 12px;
	color: Black;
	text-transform: capitalize;
	text-decoration: none;
	text-align: left;
}
.EtiquetaCapital{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: Black;
	text-transform: capitalize;
	padding-bottom:10;
	text-align: left;
}
.EtiquetaImpresion
{
	 font-family: Arial;
	 font-size: 12px;
	 color:Black;
	 font-weight: bold;
	 text-align: left;
	 padding-bottom:10
}




.EtiquetaImpresionN
{
	 font-family: Arial;
	 font-size: 10px;
	 color:Black;
	 font-weight: bold;
	 text-align: left;
	 padding-bottom:10
}

.Etiqueta
{
	 font-family: Arial;
	 font-size: 11px;
	 color: #6D6F6E;
	 font-weight: bold;
	 text-align: right;
	 
}

.EtiquetaLeft
{
	 font-family: Arial;
	 font-size: 11px;
	 color: #6D6F6E;
	 font-weight: bold;
	 text-align: left;
	 padding-left:5px;
}




.EtiquetaPequeña
{
	 font-family: Arial;
	 font-size: 8px;
	 color:Black;
	 text-align: left;
	 padding-bottom:5
}

.EtiquetaPequeña2
{
	 font-family: Arial;
	 font-size: 8px;
	 color:#30414E;
	 text-align: left;
	 font-weight: bold;
	 padding-bottom:5
}

.LetraImpresion {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: Black;
}

.EtiquetaColor
{
	 font-family: Arial;
	 font-size: 11px;
	 color: #30414E;
	 font-weight: bold;
	 text-align: left;
	 padding-bottom:10
}

.Validacion
{
	 font-family: Arial;
	 font-size: 11px;
	 font-weight: bold;
	 text-align: left;
}

.Validacion2
{
	 font-family: Arial;
	 font-size: 9px;
	 font-weight: bold;
	 text-align: left;
}

.Error
{
	 font-family: Arial;
	 font-size: 15px;
	 color: #000000;
	 font-weight: bold;
	 text-align: center;
}

.CajaTexto
{
 	 border-right: #C4DDFF 1px solid;
	 border-top: #C4DDFF 1px solid;
	 font-size: 11px;
	 border-left: #C4DDFF 1px solid;
	 width: 180px;
	 color: #30414E;
	 border-bottom: #C4DDFF 1px solid;
	 font-family: Arial;
	 background-color: white;
}

.CajaTextoNegro
{
 	 border-right: #FFFFF 1px solid;
	 border-top: ##FFFFF 1px solid;
	 font-size: 11px;
	 border-left: ##FFFFF 1px solid;
	 width: 180px;
	 color: #30414E;
	 border-bottom: ##FFFFF 1px solid;
	 font-family: Arial;
	 background-color: white;
}

.CajaTextoMedio
{
     border-right: #C4DDFF 1px solid;
	 border-top: #C4DDFF 1px solid;
	 font-size: 11px;
	 border-left: #C4DDFF 1px solid;
	 width: 90px;
	 color: #30414E;
	 border-bottom: #C4DDFF 1px solid;
	 font-family: Arial;
	 background-color: white;
}

.CajaTextoChico
{
	 border-right: #C4DDFF 1px solid;
	 border-top: #C4DDFF 1px solid;
	 font-size: 11px;
	 border-left: #C4DDFF 1px solid;
	 width: 45px;
	 color: #30414E;
	 border-bottom: #C4DDFF 1px solid;
	 font-family: Arial;
	 background-color: white;
}

.CajaTextoFecha
{
	 border-right: #C4DDFF 1px solid;
	 border-top: #C4DDFF 1px solid;
	 font-size: 11px;
	 border-left: #C4DDFF 1px solid;
	 width: 65px;
	 color: #30414E;
	 border-bottom: #C4DDFF 1px solid;
	 font-family: Arial;
	 background-color: white;
}

.CajaTextoSinWidth
{
 	 border-right: #C4DDFF 1px solid;
	 border-top: #C4DDFF 1px solid;
	 font-size: 11px;
	 border-left: #C4DDFF 1px solid;
	 color: #30414E;
	 border-bottom: #C4DDFF 1px solid;
	 font-family: Arial;
	 background-color: white;
}

.CajaTexto3Numeros
{
	 border-right: #C4DDFF 1px solid;
	 border-top: #C4DDFF 1px solid;
	 font-size: 11px;
	 border-left: #C4DDFF 1px solid;
	 width: 18px;
	 color: #30414E;
	 border-bottom: #C4DDFF 1px solid;
	 font-family: Arial;
	 background-color: white;
}

.CajaTexto6Numeros
{
	 border-right: #C4DDFF 1px solid;
	 border-top: #C4DDFF 1px solid;
	 font-size: 11px;
	 border-left: #C4DDFF 1px solid;
	 width: 33px;
	 color: #30414E;
	 border-bottom: #C4DDFF 1px solid;
	 font-family: Arial;
	 background-color: white;
}

.Boton
{
	 font-family: Arial;
	 font-size: 11px;
	 color: Black;
}

.Enlace
{
	 font-family: Arial;
	 font-size: 11px;
	 font-weight: bold;
	 color: Blue;
	 text-align: right;
}

.Titulo
{
	font-weight: bold;
	font-size: 13px;
	vertical-align: middle;
	color: #6D6F6E;
	font-family: Verdana, Geneva, sans-serif;
	height: 28px;
	text-align: center;
	
}

.Grilla 
{
	 font-family: Arial;
	 font-size: 10px;
	 background-color: White;
	 border-bottom:none;
	 border-right:none;
		 
}

.GrillaImpresion 
{
	 font-family: Arial;
	 font-size: 9px;
	 background-color: White;
	 border-bottom:none;
	 border-right:none;
	 
	
}
.CabeceraImpresion
{
	 font-family: Arial;
	 font-size: 10px;
	 font-weight: bold;
	 text-align: center;
	 Color: #30414E; 
	 background-color: White;
	 border-bottom:none;
	 border-right:none;
	 
}

.Cabecera 
{
	 font-family: Arial;
	 font-size: 11px;
	 font-weight: bold;
	 text-align: center;
	 Color: #30414E;
	 background: url(imgs-estilos/fondo-top-tablas.jpg) repeat-x;
	 height:28px;
	 border-bottom:none;
	 border-right:none;
	
	 
	 
}

.PieGrid
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	Color: #30414E; 
}

.Alterno
{
	 font-family: Arial;
	 font-size: 11px;
	 color: #30414E;
	 	
}

.Elementos
{
	 font-family: Arial;
	 font-size: 11px;
	 color: #30414E;
}

.FooterText
{
	 font-weight: normal;
	 font-size: 11px;
	 color: #cccccc;
	 font-family: Arial,Helvetica,sans-serif;
	 text-decoration: none
}

.DefaultRootHome
{
	 margin: 3px 0px 0px 16px
}

.FooterGutter
{
	 height: 20px
}

.SubTitulo
{
	 font-family: Arial;
	 font-size: 11px;
	 color: #010101;
	 font-weight: bold;
	 text-align: center;
	 height: 23px;
	 vertical-align: middle;
	 background: url(imgs-estilos/fondo-top-tablas.jpg) repeat-x;
	 text-align:center;
}

.SubTituloPanel
{
	 font-family: Arial;
	 font-size: 11px;
	 color: #010101;
	 font-weight: bold;
	 height: 23px;
	 vertical-align: middle;	 	 
	 z-index:auto;
}

.Lista
{
	 font-size: 9px;
	 color: #30414E;
	 font-family: Arial;
}

.Texto
{
	 font-size: 11px;
	 color: #30414E;
	 font-family: Arial;
}

.Combo
{
	 font-size: 9px;
	 color: #000000;
	 font-family: Arial;
}


.BotonFooter
{
	vertical-align: middle;
	height: 35px;
}
.TextoMayuscula {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #30414E;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
}
.TextoMiniscula {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #30414E;
	text-transform: lowercase;
	text-decoration: none;
	text-align: left;
}
.TextoCapital {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #30414E;
	text-transform: capitalize;
	text-decoration: none;
	text-align: left;
}
.TituloPrincipal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #30414E;
	text-decoration: none;
	text-align: center;
	padding-bottom:15px;
}

.modalBackground
{
	background-color: #C0C0C0;
}

.cssDataNavigator
{

	background-color: #F8F8F8;
}

.ButtonGrid
{
       font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#ff0000;
        border:0px;
        width:80px;
        height:19px;
}