﻿.menustyle
{
	
	border-color:#ff0000;
	
}

.menuitem
{
	color:White;
	background-color:#ff0000;
	font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold; 
	border:none;	
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	cursor: pointer;
	cursor: hand;
}

.mouseover
{
	background-color: #FFff00;
	color:#e11b22;
	font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold; 
	border:none;
	padding: 2px;
	padding-left: 5px;
	padding-right: 15px;
	cursor: pointer;
	cursor: hand;
}

