﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #EBEBEB;
    FONT-SIZE: 8pt;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color : #6F5E99;
}

a:link, a:visited
{
    color: #ffffff;
}

a:hover
{
    color: #ffffff;
    text-decoration: none;
}

a:active
{
    color: #ffffff;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

img
{
	border-style: none;
    border-color: inherit;
    border-width: 0px;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
	text-align: center;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/


#cPrincipal
{
	margin:auto;
	width:1100px;
	height:auto;
}

.MPsup_izq,.MPsup_med,.MPsup_der
{
    height:11px;
    font-size:1px;
    line-height:0.1em;
    margin:0;
    padding:0;
}

.MPsup_izq
{
    background:url(../Images/MasterPage/ms_3.png) no-repeat left top;
    width:11px;
}

.MPsup_med
{
    background:url(../img/MasterPage/ms.png) repeat-x;
}

.MPsup_der
{
    background:url(../img/MasterPage/ms_3.png) no-repeat right top;
    width:11px;
}

.MPder
{
    background:url(../img/MasterPage/ms_2.png) repeat-y right;
    width:11px;
    margin:0;
    padding:0;
}

.MPizq
{
    background:url(../img/MasterPage/ms_2.png) repeat-y left;
    width:11px;
    margin:0;
    padding:0;
}

.MPinf_izq,.MPinf_med,.MPinf_der
{
    height:11px;
    font-size:1px;
    line-height:0.1em;
    margin:0;
    padding:0;
}

.MPinf_izq
{
    background:url(../img/MasterPage/ms_3.png) no-repeat left bottom;
    width:11px;
}

.MPinf_med
{
    background:url(../img/MasterPage/ms.png) repeat-x bottom;
}

.MPinf_der
{
    background:url(../img/MasterPage/ms_3.png) no-repeat right bottom;
    width:11px;
}


.MPmed
{
    background: #14915D url(../img/MasterPage/fp.png) repeat-x;
    padding:10px;
}



#cEnca2
{
    border-top:1px solid #750000;
    border-left:1px solid #750000;
    border-right:1px solid #750000;
    border-bottom:1px solid #750000;
    width:100%
}



#cEnca
{
    border-top:1px solid #FFF;
    border-left:1px solid #FFF;
    border-right:1px solid #FFF;
}
.FEnca
{
	background:url(../img/MasterPage/fenca.png);
	height:92px;
}

.FEncaNS
{
	background:url(../img/MasterPage/logoD.png) ;
	height:62px;	
}

.FMenuS
{
	background:url(../img/MasterPage/fmenu.gif);
	height:25px;
	padding:0px;
}


.mainContent
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

#Copy
{
	margin:auto;
	width:1000px;
	text-align:center;
	height:25px;
	
}



/*
.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

*/

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    /*padding: 4px 0px 4px 8px;*/
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    background:transparent !important;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #1BBE79;
    border: 1px #1BBE79 solid;
    color: #ffffff;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    
    border-left:1px solid #FFF;
	border-right:1px solid #660000;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    background-color:#DADADA;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    background-color:#DADADA;
    color: #cfdbe6;
    text-decoration: none;
}



/* FORM ELEMENTS   
----------------------------------------------------------*/
fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}


/*---Textbox*/
.txtTexto,.txtTextoM, .txtTextoFocus ,.txtTextoFocusM {
	padding: 3px 3px 3px 3px; 
	margin: 1px 0px 1px 2px; 
	font: 11px Verda1na, Arial, Helvetica, sans-serif; 
	border-top:#685A3C 1px solid;
	border-left:#685A3C 1px solid;	
	border-bottom:#D4D0C8 1px solid;
	border-right:#D4D0C8 1px solid;
 }
.txtTexto {background:#FFF;}
.txtTextoFocus {background: lightyellow;}
.txtTextoM {background:#FFF;text-transform:uppercase}
.txtTextoFocusM {background: lightyellow;text-transform:uppercase}

/*---fin TextBox*/

/*---Botones--*/
.btnStyle, .btnStyleSobre{
    border: 1px solid #999999; 
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    FONT-SIZE: 11px; 
    height:23px;
    color: #000;     
    text-align: center;
    cursor:pointer;
    padding:1px;
    }
.btnStyle{
    background: url(../Images/FBtn.gif) #FFF repeat-x ; 
    background-position:bottom;
}

.btnStyleSobre{
    background: #FFF; 
}


.btnOculto
{
	display:none;
}

/*---fin  Botones----*/


/*-------PARA EL GRID EN GENERAL--------*/
.Grid
{
    border:1px solid #DBDBDE;
    vertical-align:top;
    color:#660000;
}

.Grid_Cabecera { 
    vertical-align: middle;    
    text-align: center; 
    font-family: Verdana; 
     font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size:11px; 
    font-weight:bold; 
    background:#6F5E99;
    color:#FFF;   
    border-color:#DBDBDE;  
    margin:100px;  
 } 
 
.Grid_Cabecera th {
    padding-top:5px;
    padding-bottom:5px;
}

.Grid_Cabecera A, .Grid_Cabecera SPAN {
	padding-top: 0px;
	text-decoration: none;
	padding-right:12px;
	color:#685A3C;
	background: url(../Images/GridView/sor.gif) no-repeat;
	background-position:right;
}

.Grid_Cabecera A:hover {
	text-decoration: underline;
	color:#685A3C;
}

.Grid_Row_Normal { 
     font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 11px; 
    font-weight:normal; 
    font-style:normal; 
    background-color:#ffffff ;    
    Height:25px;
    border-color:#DBDBDE;
    color:#660000;
} 

.Grid_Row_Alternativo { 
 
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 11px; 
    font-weight:normal; 
    font-style:normal; 
    background-color:#EAEAEC; 
    Height:25px;   
    border: #DBDBDE 1px solid;
    color:#660000;
} 

.Grid_Row_Editado { 
      font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 10px; 
    font-weight:bold; 
    font-style: normal; 
    background-color:#FDF8C2;   
    color:#750000; 
    Height:25px;     
    border: #DBDBDE 1px solid;
} 

.Grid_Row_MouseOver { 
        font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 10px; 
    font-weight:normal; 
    font-style:normal; 
    background-color:#D1E6C9;   
    color:black; 
    border-color:#DBDBDE;
    Height:25px;  
}

.Grid_Row_Seleccionado  
{
        font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size:10px; 
    background-color: #FFFFE0;
    color:#750000; 
    Height:25px; 
    border-color:#DBDBDE; 
     font-weight:normal; 
} 


.Grid_Paginacion {
    background-image: url(../Images/GridView/f_paginacion.gif);
    background-repeat: repeat-x;
    height: 25px;
    padding-left: 11px;
    font-weight:bold;
}


/* -------TABLA Q CONTIENE EL GRID-------*/
/*table.Grid
{  
     border-color :  #336699;
     border:2px solid; 
 }*/ 



 table.Grid tr , table.Grid td { 
    border-color :#DBDBDE;
    padding : 1px;
    vertical-align:middle;
 }

  table.Grid table {  
    margin:2px;  
    border-collapse: collapse
 }
 
 table.Grid table td, table.Grid table tr { 
    font: 12px "Trebuchet MS",Arial;    
    padding-top:3px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:3px;
    margin:0px;
    font-weight: bold;     
    border: 0px solid;    
 }
 
  table.Grid table td a { 
    padding: 2px 5px 2px 5px;
    margin-right: 2px;	
    border:1px solid #999999;	
    text-decoration: none; 	
    color:#685A3C;	
   
 } 
 
  table.Grid table td a:hover, table.Grid table td a:active {
    border:1px solid #999999;
    color:#685A3C;
    background:#DEDEDE;
}
  table.Grid table td span {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #999999;
    font-weight: bold;
    background-color:#DEDEDE;
    color: #FFF;
      color:#685A3C;

}


/*---FIN DE GRID ESTILOS*/








input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}




.TablaMarco
{
    border:solid 1px #CCC;
    background-color: #EBEBEB;
    color:#6F5E99;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
}

.TablaTitulo
{
	text-align:left;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	background:#DCDCDC;
	font-weight:bold;
	padding:3px;
	color : #6F5E99;
}

.TablaLabelR
{
    text-align:right;
    vertical-align:middle;
    font-size:11px;
    color:#6F5E99;
}


.TablaCeldaBox, .TablaCeldaTextBox
{
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;	
	text-align:left;	
	background:#FFF !important;
	padding:2px;
	padding-left:4px;
}

.TablaCeldaTextBox
{	
	padding:3px;
	padding-left:5px;
	padding-bottom:4px;
	display:block
}


.CLoading {
   background:#FFFFFF;
   margin:10px;
   font-family:Verdana;
   font-size:11px;
   color:#000;
   font-weight:bold;
   border:1px solid #BCF5DD;
   height: 27px !important;
}


/*------Login------*/
.frmLogin
{
    margin: auto; 
    width: 617px;
    margin-top:10%;
}


.LEncaSup
{
	background:url(../img/Login/encaLTop.png) no-repeat ;
	height:90px;
}
.LEncaCen
{
	background:url(../img/Login/encaLCenter.png)  ;	
}

.LEncaInf
{
	background:url(../img/Login/encaLBottom.png) no-repeat ;
	height:41px;
}
.LEtiquetaC
{
	color:#666666;
	font-family:Verdana;
	font-size:11px;
	vertical-align:middle;
	text-align:right;
	font-weight:bold;
	
}
.txtLogin
{
	background: url(../Images/Login/FtxtLogin.png);
	padding:7px;
	font-family:Tahoma;
	font-size:15px;
	border:1px solid #CCC;
}
.txtLoginBorde
{
	padding:5px;
	background:#EBEBEB;
}
/*----------*/






.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}


/*Model JQuery*/

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#fff;}

/* Container */
#simplemodal-container {height:320px; width:600px;  background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {}
#simplemodal-container a.modalCloseImg {background:url(img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}


#simplemodal-container a.modal-close,
#simplemodal-container a.modal-close:link,
#simplemodal-container a.modal-close:active,
#simplemodal-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:4px; top:4px; }
#simplemodal-container a.modal-close:hover {}





.ui-dropdownchecklist {
	BORDER-RIGHT: #ddd 0px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: url(../Images/dropdown.png) #fff no-repeat right center; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 20px
}
.ui-dropdownchecklist-hover {
	BORDER-LEFT-COLOR: #5794bf; BACKGROUND-IMAGE: url(../Images/dropdown_hover.png); BORDER-BOTTOM-COLOR: #5794bf; BORDER-TOP-COLOR: #5794bf; BORDER-RIGHT-COLOR: #5794bf
}
.ui-dropdownchecklist-active {
	BORDER-LEFT-COLOR: #5794bf; BACKGROUND-IMAGE: url(../Images/dropdown_hover.png); BORDER-BOTTOM-COLOR: #5794bf; BORDER-TOP-COLOR: #5794bf; BORDER-RIGHT-COLOR: #5794bf
}
.ui-dropdownchecklist-text {
	FONT-SIZE: 11px; LINE-HEIGHT: 20px; MARGIN-RIGHT: 17px; HEIGHT: 20px
}
.ui-dropdownchecklist-dropcontainer {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #fff
}
.ui-dropdownchecklist-item {
	
}
.ui-dropdownchecklist-item-hover {
	BACKGROUND-COLOR: #39f
}
.ui-dropdownchecklist-item-disabled LABEL {
	COLOR: #ccc
}
.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text {
	COLOR: #fff
}
.ui-dropdownchecklist-group {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.ui-dropdownchecklist-indent {
	PADDING-LEFT: 20px
}

#FiltroRpt
{
clear:both;
height:70px; 
width:100%;
background:#FFF url(../Images/rpt/ffiltro.png) repeat-x ;

border:0px;
padding:0px;
border-bottom:1px solid #660000;
border-top:1px solid #FFF;
}

#FiltroRptTitulo
{
clear:both;
height:20px;
width:400px;
padding-left:0px;
font-weight:bold;
padding-top:5px;
text-align:center;
margin-left:0px;
background:#FFF ;

background:url(../Images/rpt/ffiltrot.png) repeat-x ;
border-bottom:1px solid #ccc;
border-right:1px solid #ccc;
border-left:0px solid #ccc;
}

#FiltroRptTituloL
{
border-bottom:1px solid #FFF;
border-right:1px solid #FFF;
border-left:0px solid #FFF;
width:400px;
height:26px;
margin-bottom:5px;
}



.TilCeldaD
{
    text-align:right;
 }