﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="MasterPage.master.vb" Inherits="VANInsurance.MasterPage" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta id="FirstCtrlID" http-equiv="X-UA-Compatible" content="IE=9" />

    <title>BNP PARIBAS CARDIF - Venta Seguros</title> 
    <link id="lnk_favicon" runat="server" rel="icon" href="~/img/favicon.ico" type="image/ico" />  
    <script type="text/javascript" src="<%# ResolveUrl("~/")%>Scripts/jquery-1.7.1.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="<%# ResolveUrl("~/")%>ddlevelsfiles/ddlevelsmenu-base.css" />
    <link rel="stylesheet" type="text/css" href="<%# ResolveUrl("~/")%>ddlevelsfiles/ddlevelsmenu-topbar.css" />
    <link rel="stylesheet" type="text/css" href="<%# ResolveUrl("~/")%>ddlevelsfiles/ddlevelsmenu-sidebar.css" />
    <script type="text/javascript" src="<%# ResolveUrl("~/")%>ddlevelsfiles/ddlevelsmenu.js"></script>        
    <script type="text/javascript">
        ddlevelsmenu.setup("ddtopmenubar", "topbar");
    </script>
    
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="aspnetForm" runat="server">
    
   <asp:ToolkitScriptManager ID="tsm" runat="server"></asp:ToolkitScriptManager>
    
   <table id="cPrincipal" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="MPizq">&nbsp;</td>
    <td class="MPmed">
    <table width="100%" style="height:870px" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2" style="background:#FFF; height:150px; vertical-align:top" >
        
        <table id="cEnca" border="0" cellspacing="0" cellpadding="0" style="width:100%">
          <tr>
            <td style="width:30%; height:62px; vertical-align:middle" class="FEnca">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/Img/MasterPage/logo.png" /></td>
            <td style=" height:62px; vertical-align:top" class="FEnca">&nbsp;</td>
            <td style="width:38%; height:62px; vertical-align:top; text-align: right; " 
                  class="FEncaNS">
                        
                &nbsp;&nbsp;
                </td>
          </tr>
          <tr>
              <td class="FMenuS" colspan="3">
           
                
                <table  border="0" cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td colspan="2" style="width: 742px">
                        
<div id="ddtopmenubar" class="mattblackmenu">
    <asp:Literal ID="ltMenu" runat="server"></asp:Literal>
    <asp:Literal ID="ltSMenu" runat="server"></asp:Literal>
</div>

                           
                            
                  
                            </td>
                        <td style="text-align:right; vertical-align:middle; padding-right:8px; width: 300px; color:#ffffff">
                            <asp:Label ID="lblUsuario" runat="server" Text="..."></asp:Label>
                            &nbsp;
                | &nbsp;
                <asp:HyperLink ID="HyperLink1" runat="server" Font-Bold="True" NavigateUrl="~/Login.aspx?CS=SignOut" style="text-decoration: none">Salir</asp:HyperLink></td>
                    </tr>
                </table>
              </td>
            </tr>
        </table>         
      
                                <asp:ContentPlaceHolder ID="contenedor" runat="server">
                                </asp:ContentPlaceHolder>
                </td>
      </tr>
    </table>
    </td>
    <td class="MPder">&nbsp;</td>
  </tr>
  <tr>
    <td class="MPinf_izq">&nbsp;</td>
    <td class="MPinf_med">&nbsp;</td>
    <td class="MPinf_der">&nbsp;</td>
  </tr>
</table>
<div id="Copy">Copyright © 2017 - All Rights Reserved</div>    



    </form>
    
    
<script type="text/jscript" language="javascript"> 
Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler); 
function EndRequestHandler(sender, args)
{ 
    if (args.get_error() != undefined)
    {
    if (args.get_response().get_statusCode() == '12030' || args.get_response().get_statusCode() == '12031')
        { 
        args.set_errorHandled(true);
        //window.open ('Login.aspx', '_parent'); 
        window.location.reload();
        }
        else 
        {
           args.set_errorHandled(true); //Evitar error predeterminado.
           alert("Error de inconsistencia de datos..."); 
        }
//        if (args.get_response().get_statusCode() == '500')
//        {
//            
//        }
    }
} 

</script> 
</body>
</html>
