﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="pImagenReclamo.aspx.vb" Inherits="VANSiniestros.ImagenReclamo" culture="es-PE" uiCulture="es-PE"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
  <TABLE style="WIDTH: 886px;" cellSpacing=4><TBODY><TR><TD style="VERTICAL-ALIGN: top; WIDTH: 157px"><asp:ListBox id="lbImagen" runat="server" __designer:wfdid="w490" Width="155px" OnSelectedIndexChanged="lbImagen_SelectedIndexChanged1" AutoPostBack="True" Height="500px"></asp:ListBox></TD><TD style="VERTICAL-ALIGN: top"><DIV style="OVERFLOW: auto; WIDTH: 720px; HEIGHT: 500px"><asp:Image id="imgCer" runat="server" __designer:wfdid="w491" Width="700px" Height="800px" Visible="False"></asp:Image></DIV></TD></TR></TBODY></TABLE>
    <asp:HiddenField ID="hfIDCertificado" runat="server" Value="0" />
    </form>
</body>
</html>
