﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="dBeneficiario.aspx.vb" Inherits="VANInsurance.dBeneficiario" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>BNP PARIBAS CARDIF - Venta Seguros</title>
    <link href="../../Estilos/Default.css" type="text/css" rel="stylesheet" />
    <link href="../../Estilos/General.css" type="text/css" rel="stylesheet" />
    <link href="../../Estilos/Menu.css" type="text/css" rel="stylesheet" />

    <script src="../../Scripts/General.js" type="text/javascript"></script>

    <script type="text/javascript">
        function CerrarPagina(page) {
            var parentWindow = window.parent;
            parentWindow.OcultarPCModal(page);
        }
    </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
    BENEFICIARIO
    </div>
    </form>
</body>
</html>
