﻿<%@ Page Title="Nación Leasing - Cotizador" Language="C#" MasterPageFile="~/Master/Principal.Master" 
    AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="AONWebMotor.Master.WebForm1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td class="Form_tdBorde">
            </td>
            <td>
                <table class="Form_Fondo" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                    <tr>
                        <td style="width: 50px">
                            <asp:Image ID="Image1" runat="server" SkinID="sknImgUsuario" />
                        </td>
                        <td class="Form_MsjLabel" style="text-align: left;">
                            <asp:Label ID="lblNombreUsuario" runat="server" CssClass="Form_MsjLabel" Text=""></asp:Label>&nbsp;Bienvenido(a)
                            a Nación Leasing Cotizador
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="Form_tdBorde">
            </td>
        </tr>
    </table>
</asp:Content>
