input[type="submit"]:disabled, input[type="button"]:disabled, input[type="reset"]:disabled {
color: GRAY;
cursor: pointer;
}
/******************/
BODY {
	/*FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;*/
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 8pt;
	color : #6F5E99;
	background-color: #EBEBEB;
	margin:0;
	padding:0;
	
}

img
{
	border:0px;
}

A:link {
	COLOR: #462E86;

}
A:unknown {
	COLOR: #660000;

}
A:hover {
	COLOR: #660000;
	text-decoration:none;
}
A:visited{
	COLOR: #6F5E99;

}



H1 {
	font-family: Arial, Helvetica, sans-serif; 
	COLOR: #660000;
	}
H2 {
	font-family: Arial, Helvetica, sans-serif; 
	COLOR: #660000;
}
H3 {
	font-family: Arial, Helvetica, sans-serif; 
	COLOR: #660000;
	}
H4 {
	font-family: Arial, Helvetica, sans-serif; 
	COLOR: #660000;
	}
H5 {
	font-family: Arial, Helvetica, sans-serif; 
	COLOR: #660000;
}
H6 {
	font-family: Arial, Helvetica, sans-serif; 
	COLOR: #660000;
}

.Report
{
	color:#660000;
	font-family: Arial, Helvetica, sans-serif; 
}


#cPrincipal
{
	margin:auto;
	width:968px;
	height:auto;
}

.MPsup_izq,.MPsup_med,.MPsup_der
{
height:11px;
font-size:1px;
line-height:0.1em;
margin:0;
padding:0;
}

.MPsup_izq
{
background:url(../../img/ms_3.png) no-repeat left top;
width:11px;
}

.MPsup_med
{
background:url(../../img/ms.png) repeat-x;
}

.MPsup_der
{
background:url(../../img/ms_3.png) no-repeat right top;
width:11px;
}



.MPder
{
background:url(../../img/ms_2.png) repeat-y right;
width:11px;
margin:0;
padding:0;
}

.MPizq
{
background:url(../../img/ms_2.png) repeat-y left;
width:11px;
margin:0;
padding:0;

}



.MPinf_izq,.MPinf_med,.MPinf_der
{
height:11px;
font-size:1px;
line-height:0.1em;
margin:0;
padding:0;

}

.MPinf_izq
{
background:url(../../img/ms_3.png) no-repeat left bottom;
width:11px;
}

.MPinf_med
{
background:url(../../img/ms.png) repeat-x bottom;
}

.MPinf_der
{
background:url(../../img/ms_3.png) no-repeat right bottom;
width:11px;
}


.MPmed
{
/*background: #C10000 url(../../img/fp.png) repeat-x;*/
background: #0054a0;
padding:10px;
}



#cEnca2
{
border-top:1px solid #750000;
border-left:1px solid #750000;
border-right:1px solid #750000;
border-bottom:1px solid #750000;
width:100%
}



#cEnca
{
border-top:1px solid #FFF;
border-left:1px solid #FFF;
border-right:1px solid #FFF;
}
.FEnca
{
	background:url(../../Img/MasterPage/fenca.png);
	height:92px;
}

.FMenuS
{
	background: #0054a0;
	height:25px;
	padding:0px;
}






#Login
{
	margin:auto
}

#Login .LDer
{
	border-right:1px solid #9D4248;
}

#Login .LIzq
{
	border-left:1px solid #9D4248;
}

#Login .LSup
{
	border-top:1px solid #9D4248;
}

#Login .LInf
{
	border-bottom:1px solid #9D4248;
}

#Login #CLtxt
{
	margin:auto;
	margin-bottom:10px;
	margin-top:10px;
}

.txt
{
	border:1px solid #900;
	background:#FFF url(../../img/ftxt.gif);
	font-family:Verdana, Geneva, sans-serif;
	font-family:10px;
	margin:0px;
	padding:2px;
}















#Copy
{
	margin:auto;
	width:1000px;
	text-align:center;
	height:25px;
	
}

.MenuIE8
{
	z-index:99999;
}


/*********ESTILOS MENU********/

#mainnav {
	font-family:Verdana,Ariel,Geneva,Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	padding-top:0px;
	padding-bottom:0px;	
	/*border-bottom:1px solid #006699;
	border-top:1px solid #88B0D2;*/
	display:block;
	float:left;
	height:25px;
	background:#0054a0;
	/*margin-top:-5px;*/
	/*url("Img/Menu/FMenu1.png");*/
}

* html #mainnav tr {/*height:19px;*/
}

#mainnav a
{
	background:transparent !important;
}

#mainnav .item {	
	padding:0px;
	margin:0px;	
	border-left:1px solid #1BBE79;
	border-right:1px solid #660000;	
	/*background:#AAC4DD url("Img/Menu/FMenu1.png");*/
	color:#ffffff; 	
	text-align:left;
	padding-right:5px;
	padding-left:5px;
	height:23px;
}

* html #mainnav .item {/*padding:0 4px;*/}

#mainnav .selected {
	background:#43BCE0;	
	text-decoration:none;
}
#mainnav .hover {	
	background-color:#DADADA;
	background:#43BCE0;
	/*url("Img/Menu/FMenu.png");*/
	text-decoration:none;
}


#mainnav table {/*border-right:1px solid #7D9A40;*/}

#mainnav table table {border-right:none;}

/*Dinamic Menu*/
#mainnav .itemD {	
	padding-left:5px;
	padding-bottom:5px;
	padding-top:5px;		
	border-bottom:1px solid #E3C3C6; /*#BF767F;	*/
	border-left:10px solid #E3C3C6;
	border-right:2px solid #E3C3C6;
	background:#FBF7F7; /*#F7EFF0; url("Img/Menu/FSubMenu.png");*/
	color:#000; 	
	text-align:left;	
	margin-right:5px;
	text-decoration:none;
	height:20px !important;	
}
#mainnav .hoverD {
	color:#FFF;	
	background:#CA8C94;
	text-decoration:none;
}

#mainnav .selectedD {	
	background:#D1E1F1;
	color:#000;
	text-decoration:none;
}

/*Din Dinamic Menu*/

/*ESTILOS TEXBOX*/
.txtUserName, .txtUserNameFocus, .txtPassword, .txtPasswordFocus {
	PADDING: 3px 4px 3px 19px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; 
	BORDER: #685A3C 1px solid;	
}
.txtTexto,.txtTextoM, .txtTextoFocus ,.txtTextoFocusM {
	PADDING: 3px 3px 3px 3px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verda1na, Arial, Helvetica, sans-serif; 
	/*BORDER: #685A3C 1px solid;*/
	border-top:#685A3C 1px solid;
	border-left:#685A3C 1px solid;		
	border-bottom:#D4D0C8 1px solid;
	border-right:#D4D0C8 1px solid;	
 }
 
.txtTextoD {
	PADDING: 3px 3px 3px 3px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verda1na, Arial, Helvetica, sans-serif; 
	border-top:#D4D0C8 1px solid;
	border-left:#D4D0C8 1px solid;		
	border-bottom:#D4D0C8 1px solid;
	border-right:#D4D0C8 1px solid;
	background:#FCFCFC;
 }
 
 .ddlDisable {
	background:#FCFCFC;
 }
 
.txtTexto {BACKGROUND:#FFF;}
.txtTextoFocus {BACKGROUND: lightyellow;}
.txtTextoM {BACKGROUND:#FFF;text-transform:uppercase}
.txtTextoFocusM {BACKGROUND: lightyellow;text-transform:uppercase}

.txtUserName{BACKGROUND: url(../../img/Login/icon_user.gif) #fff no-repeat 1px 1px;}
.txtUserNameFocus{BACKGROUND: url(../../img/Login/icon_user.gif)  lightyellow no-repeat 1px 1px;}
.txtPassword {BACKGROUND: url(../../img/Login/key.gif) #fff no-repeat 1px 1px;}
.txtPasswordFocus{BACKGROUND: url(../../img/Login/key.gif) lightyellow no-repeat 1px 1px;}

/*---FIN ESTILOS TEXBOX*/

/*ESTILOS BOTONES*/
.btnStyle, .btnStyleSobre{
BORDER: #4BC9E8 1px solid; 
border-color:#4BC9E8;
FONT-SIZE: 11px; 
WIDTH: 95px;
HEIGHT: 23px;  
COLOR: #ffffff; 
FONT-FAMILY: Arial, Helvetica, sans-serif; 
TEXT-ALIGN: center;
cursor:pointer;
}
.btnStyle{
BACKGROUND: url(../../img/Page/FBtn.png) #4BC9E8 repeat-x ; 
background-position:bottom;
}
.btnStyleSobre{
BACKGROUND: #172E54; 
BORDER: #172E54 1px solid; 
border-color:#172E54;
}
/*---FIN ESTILOS BOTONES*/

.BotonOculto
{
	display:none;
}


.Ocultotxt
{
	border:0px; height:0px; width:0px; font-size:0;	padding:0px; margin:0px;	
}


/*-------PARA EL GRID EN GENERAL--------*/
.Grid
{
 border:1px solid #DBDBDE;
 vertical-align:top;
 color:#660000;
}

.Grid_Cabecera { 
    vertical-align: middle;    
    text-align: center; 
    font-family: Verdana; 
     font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size:11px; 
    font-weight:bold; 
    background:#6F5E99;
    color:#FFF;   
    border-color:#DBDBDE;  
    margin:100px;  
 }
 
.Grid_Cabecera th {
   padding-top:3px;
   padding-bottom:4px;
}

.Grid_Cabecera A, .Grid_Cabecera SPAN {
	padding-top: 0px;
	text-decoration: none;
	padding-right:12px;
	color:#685A3C;
	background: url(../../img/grid/sor.gif) no-repeat;
	background-position:right;
}

.Grid_Cabecera A:hover {
	text-decoration: underline;
	color:#685A3C;
}

.Grid_Pie { 
  font-family: Verdana; 
  font-size:10px; 
  font-weight:bold; 
  background-color: #AABFB8; 
  color:#000000; 
  Height:9px; 
  border-color:#000000;
} 

.Grid_Row_Normal { 
     font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 11px; 
    font-weight:normal; 
    font-style:normal; 
    background-color:#ffffff ;    
    Height:25px;
    border-color:#DBDBDE;
    color:#660000;
} 

.Grid_Row_Alternativo { 
 
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 11px; 
    font-weight:normal; 
    font-style:normal; 
    background-color:#EAEAEC; 
    Height:25px;   
    border: #DBDBDE 1px solid;
    color:#660000;
} 


.Grid_Row_Editado { 
   font-family:verdana; 
   font-size: 10px; 
   font-weight:bold; 
   font-style: normal; 
   background-color:#FDF8C2;   
   color:#750000; 
   Height:25px;  
} 

.Grid_Row_MouseOver { 
  font-family:verdana; 
  font-size: 10px; 
  font-weight:normal; 
  font-style:normal; 
  background-color:#D1E6C9;   
  color:black; 
  border-color:#000000;
  Height:25px;  
}

.Grid_Row_Seleccionado { 
  font-size:10px; 
  background-color: #FFFFE0;
  /*background-color: #FFFFA4; */  
   color:#750000; 
   Height:25px;  
} 

.Grid_Colum_Seleccionado { 
  font-family: Verdana; 
  font-size:10px; 
  font-weight:bold; 
  direction: ltr; 
  text-align: left; 
  color: Red; 
  display: inline; 
  z-index: auto; 
} 

.Grid_pagina { 
  font-size:10px; 
  font-weight:bold;   
  color:#750000; 
  background-color: #FDEAB6; 
  Height:9; 
  background-image: url(images/test1.jpg); 
} 

.grid_item_especial { 
  font-family:verdana; 
  font-size: 7pt; 
  font-weight:normal; 
  font-style:normal; 
  background-color:#999999; 
  color:#ffffff; 
  Height:8; 
  border-color :#000000;
} 


.Grid_Paginacion {
	background-image: url(../../img/grid/defaultItemBg.gif);
	background-repeat: repeat-x;
	height: 25px;
	padding-left: 11px;
	font-weight:bold;
}


/* -------TABLA Q CONTIENE EL GRID-------*/
/*table.Grid
{  
     border-color :  #336699;
     border:2px solid; 
 }*/ 

 table.Grid tr , table.Grid td { 
    border-color :#DBDBDE;
    padding : 1px;
    vertical-align:middle;
 }

  table.Grid table {  
    margin:2px;  
    border-collapse: collapse
 }
 
 table.Grid table td, table.Grid table tr { 
     font: 12px "Trebuchet MS",Arial;    
     padding-top:3px;
     padding-left:0px;
     padding-right:0px;
     padding-bottom:3px;
     margin:0px;
     font-weight: bold;     
     border: 0px solid;    
 }
 
  table.Grid table td a { 
    padding: 2px 5px 2px 5px;
    margin-right: 2px;	
    border:1px solid #999999;	
    text-decoration: none; 	
    color:#685A3C;	
   
 } 
 
  table.Grid table td a:hover, table.Grid table td a:active {
    border:1px solid #999999;
    color:#685A3C;
    background:#DEDEDE;
}

  table.Grid table td span {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #999999;
    font-weight: bold;
    background-color:#DEDEDE;
    color: #FFF;
      color:#685A3C;

}
/*---FIN DE GRID ESTILOS*/










.TilCeldaD
{
	text-align:right;
	font-size:11px;
}





















div[id*="AccordionSiteMap"] 
{font-family: Verdana;
 text-align: left;
 width: 200px;
 margin: 0;
 padding: 0;
 overflow: hidden !important;
}

.AccordionHeader + div {
 /*position: relative;
 z-index: 1;
 top: -5px;*/
}

.AccordionHeader {
 background: #670101;
 height: 15px;
 color:#FFF;
 padding:5px;
 /*position: relative;
 z-index: 10;
 margin-top: 5px;*/
}

.AccordionHeader span {
/* display: block;
 color: #DDDDDD;
 font-weight: bold;
 text-decoration: none;
 font-variant: small-caps;
 line-height: 30px;
 letter-spacing: .2em;*/
}

.AccordionHeader span:hover {
 /*color: white;
 font-weight: 500;
 cursor: pointer;*/
}

.AccordionContent {
 width: 200px;
 /*margin: 0 auto;*/ 
/* border:1px solid #000;*/
padding:0px;
background:#FBF7F7;
}

.AccordionContent > a {
 display: block;
 height:18px;
 width:182px;
 /*white-space: nowrap;*/
 /*border-top: 1px solid black;*/
 padding:0px ; 
 margin:0px !important;
 padding-top:4px;
 /*background: url(Images/AccordionContent.png) repeat-y;*/
 text-decoration:none;
 	border-bottom:1px solid #E3C3C6; 	
	border-left:10px solid #E3C3C6;
	border-right:1px solid #E3C3C6;
	padding-left:7px;
}

.AccordionContent > a:first-child {
/* border-top: none !important;
 height: 22px;
 line-height: 22px;*/
}
.AccordionContent > a:hover {
	/*background: url(Images/AccordionContentOver.png) repeat-y;*/
	color: #000;
	text-decoration:underline;
}

.AccordionLink {
 color: Black; 
}

.AccordionCurrentLink {
 color: Maroon;
}



/**------------**/



.ui-dropdownchecklist {
	BORDER-RIGHT: #ddd 0px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: url(../../img/dropdown.png) #fff no-repeat right center; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 20px
}
.ui-dropdownchecklist-hover {
	BORDER-LEFT-COLOR: #5794bf; BACKGROUND-IMAGE: url(../../img/dropdown_hover.png); BORDER-BOTTOM-COLOR: #5794bf; BORDER-TOP-COLOR: #5794bf; BORDER-RIGHT-COLOR: #5794bf
}
.ui-dropdownchecklist-active {
	BORDER-LEFT-COLOR: #5794bf; BACKGROUND-IMAGE: url(../../img/dropdown_hover.png); BORDER-BOTTOM-COLOR: #5794bf; BORDER-TOP-COLOR: #5794bf; BORDER-RIGHT-COLOR: #5794bf
}
.ui-dropdownchecklist-text {
	FONT-SIZE: 11px; LINE-HEIGHT: 20px; MARGIN-RIGHT: 17px; HEIGHT: 20px
}
.ui-dropdownchecklist-dropcontainer {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #fff
}
.ui-dropdownchecklist-item {
	
}
.ui-dropdownchecklist-item-hover {
	BACKGROUND-COLOR: #39f
}
.ui-dropdownchecklist-item-disabled LABEL {
	COLOR: #ccc
}
.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text {
	COLOR: #fff
}
.ui-dropdownchecklist-group {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.ui-dropdownchecklist-indent {
	PADDING-LEFT: 20px
}

#FiltroRpt
{
clear:both;
height:100px; 
width:100%;
background:#FFF url(../../img/rpt/ffiltro.png) repeat-x ;
font-family:Verdana;
border:0px;
padding:0px;
/*border-bottom:1px solid #660000;*/
border-top:1px solid #FFF;
}

#FiltroRptTitulo
{
clear:both;
height:20px;
width:200px;
padding-left:0px;
font-weight:bold;
padding-top:5px;
text-align:center;
margin-left:0px;
background:#FFF ;
font-size:11px;
background:url(../../img/rpt/ffiltrot.png) repeat-x ;
border-bottom:1px solid #ccc;
border-right:1px solid #ccc;
border-left:0px solid #ccc;
}

#FiltroRptTituloL
{
border-bottom:1px solid #FFF;
border-right:1px solid #FFF;
border-left:0px solid #FFF;
width:201px;
height:26px;
margin-bottom:5px;
}

.ocultar
{
	display:none;
}
#DivUsuariosxRol
{
width:450px;height:300px; display:none;
padding-top:5px;

margin:auto;
}



/*Model JQuery*/

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#fff;}

/* Container */
#simplemodal-container {height:320px; width:600px;  background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {}
#simplemodal-container a.modalCloseImg {background:url(img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}


#simplemodal-container a.modal-close,
#simplemodal-container a.modal-close:link,
#simplemodal-container a.modal-close:active,
#simplemodal-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:4px; top:4px; }
#simplemodal-container a.modal-close:hover {}

#simplemodal-container a.modal-closePrint
{
   margin-right:4px;      
}
#simplemodal-container .modal-DivclosePrint
{
   width:100%;
   height:18px;
   text-align:right; 
   background:#750000;   
}


/*------Login------*/
.LEncaSup
{
	background:url(../../img/Login/encaLTop.png) no-repeat ;
	height:90px;
}
.LEncaCen
{
	background:url(../../img/Login/encaLCenter.png)  ;	
}

.LEncaInf
{
	background:url(../../img/Login/encaLBottom.png) no-repeat ;
	height:41px;
}
.LEtiquetaC
{
	color:#666666;
	font-family:Verdana;
	font-size:11px;
	vertical-align:middle;
	text-align:right;
	font-weight:bold;
	
}
.txtLogin
{
	background: url(../../img/Login/FtxtLogin.png);
	padding:7px;
	font-family:Tahoma;
	font-size:15px;
	border:1px solid #CCC;
}
.txtLoginBorde
{
	padding:5px;
	background:#EBEBEB;
}


/* Navigation */

#navigation {
	
	/*top: 5em;
	left: 1em;*/
	width: 100%;	
	position:static;
	font-family:  Verdana, Helvetica, sans-serif;
	font-size:11px;	
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
}
#navigation li {
	/*border-bottom: 1px solid #DFE1E4;*/
	
}
#navigation li a  
{
    
	display: block;
	padding: 7px 0px 7px 0.5em;
	/*border-left: 12px solid #CFD2D6;
	border-right: 1px solid #CFD2D6;*/
	background-color: #EDEDEF; /*#F7F7F8;*/
	color: #000;
	text-decoration: none !important;
	width:100%;
	font-weight:bold;
	/*border-right:1px solid #DFE1E4 !important;
	border-left:1px solid #DFE1E4 !important;*/
}
#navigation li a:hover 
{
    
	background-color:#EDEDEF; /*#711515;*/
	color: #3e5e8d;
}
#navigation ul ul {
	margin-left: 12px;
}
#navigation ul ul li {
	
	margin:0;
	background-color: #ED9F9F;
	color: #711515;	
	/*border-bottom: 1px solid #DFE1E4;	*/
}
#navigation ul ul a:link, #navigation ul ul a:visited 
{
	margin-top:-1px;
	border-top:1px solid #DFE1E4 !important;
	border-bottom:1px solid #DFE1E4 !important;
	/*border-right:1px solid #DFE1E4 !important;*/
	/*border-left:1px solid #DFE1E4 !important;*/
	font-weight:normal;
	background-color: #fff;
	color: #606879;
	display: block;
}
#navigation ul ul a:hover {
	/*background-color: #CFD2D6;
	color: #3e5e8d;*/
	color:#000 !important;	
	background:#F7F7F8;	
}

/**Fin Navigation**/

.Tabla
{
	
	font-size:11px;
}

.TablaTitulo
{
	text-align:left;
	background:#DCDCDC;
	font-weight:bold;
	padding:3px;
}


.CampoCelda
{
	text-align:left;
	color:#6F5E99;
}
.MarcoTabla
{
border:solid 1px #CCC;
background-color: #EBEBEB;
}

.divLoading {
   background:#FFFFFF;
   margin:10px;
   font-family:Verdana;
   font-size:11px;
   color:#000;
   font-weight:bold;
   border:1px solid #0054A0;
   height: 27px !important;
}

.LSETitulo
{
	background:#FFFFDA;
	padding-top:1px;
	padding-bottom:1px;	
}


.ajax__tab_body
{
	font-size:10px;
}
.ajax__tab_panel
{
	font-family:Tahoma;
	font-size:11px;
}