﻿* {
    margin:0;
}

    /*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    /*border-bottom:1px solid #1a1a1a;
    background:#333;*/
    /*border-bottom:1px solid #EF6A6B;*/
    background:#00935D;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
    text-decoration:none;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    /*background:#4c4c4c;*/
    background:#7A7A7A;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}

/*======================TABS======================*/

.tabs {
    width:100%;
    display:inline-block;
    
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
        min-height:300px;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }



/*===============TOOLTIPS===============*/
		.tooltip {
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: help; text-decoration: none;
			/* Lo paso a absolute para que no quede debajo del formulario - Lucas 01-07-2015
                position: relative;*/
            position: absolute;
		}
		.tooltip span {
			margin-left: -999em;
            position: absolute;
		}
		.tooltip:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; top: 2em; z-index: 99;
			margin-left: 0; width: 250px;
		}
		.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}

		.tooltip:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		.classic { padding: 0.8em 1em; }
		.custom { padding: 0.5em 0.8em 0.8em 2em}
		* html a:hover { background: transparent; }
		.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
		.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
		.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.warning { background: #FFFFAA; border: 1px solid #FFAD33; z-index: 10;}



    td.csTd, th.csTd{
		
		font-family: Arial, sans-serif;
        background-color: #F7F7F7;
	}

	th.csTd{
		color:#000000;
	    text-decoration: none;
        background-color:transparent;
	}
	
	
	.border-radius-object{
		/*border-radius: 14px 14px 0px 0px;
		-moz-border-radius: 14px 14px 0px 0px;
		-webkit-border-radius: 14px 14px 0px 0px;
		border: 0px solid #000000;
		background-color:#C5BDBD;
		height:28px;
		padding-top:10px;
		font-size:12px;
        color:#000000;
        text-decoration:none;*/


        border-top: 1px solid #C679AC;
        border-left: 1px solid #C679AC;
        border-right: 1px solid #C679AC;
        background-color: #ffffff;
        height: 28px;
        padding-top: 10px;
        font-size: 12px;
        color: #C679AC;
        text-decoration: none;

	}

    .iconoVenta {
        width: 26px;
        height: 24px;
        background-image: url(../../img/icons/CrossSelling/iSale.png);
        background-repeat:no-repeat;
        cursor:pointer;
    }

    .iconoMedioPago {
        width: 29px;
        height: 29px;
        background-image: url(../../img/icons/CrossSelling/iDPayment.png);
        background-repeat:no-repeat;
    }

    .iconoInteres {
        width: 29px;
        height: 29px;
        background-image: url(../../img/icons/CrossSelling/iEPayment.png);
        cursor:pointer;
    }

    .iconPanel {
        width: auto;
        height: auto;
        cursor:pointer;

    }


    .cell-data {
        width: 4px;
        text-align: right;
        font-size: 11px;
        color:#000000;
    }

    .cell-data-left {
        width: 4px;
        text-align: right;
        font-size: 11px;
        text-align:left;
    }

    .sale-active {
        width: 170px;
        height: 55px;
        background-color:#1b7e5a;
        color:#FFFFFF;
    }

    .sale-exist {
        width: 170px;
        height: 55px;
        background-color:#1b7e5a;
        color:#FFFFFF;
        background-color:#E56C69;
    }

.headerTableCrossSelling {
    background:#00935D;
    border:0;
}

.headerTableCrossSelling.active, .headerTableCrossSelling:hover {
    background:#7A7A7A;
}


.iPrint {
    cursor:pointer;
}

.bg_iconHeader {
    
    margin: auto;
    background: #4DAC85;
    border: 5px solid white;
    position:relative;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.80);

    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #000000;
    height:40px;
    width:40px;
    padding-left:2px;
    padding-top: 2px;
}

.bg_iconHeader:hover {
    
    margin: auto;
    background: #7CC5A8;
    border: 5px solid white;
    position:relative;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.80);

    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #000000;
    height:40px;
    width:40px;
    padding-left:2px;
    padding-top: 2px;
}

.bg_btnContactHeader {
    
    margin: auto;
    background: #CCCCCC;
    border: 5px solid white;
    position:relative;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.80);

    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #000000;
    height:40px;
    width:40px;
    padding-left:2px;
    padding-top: 2px;
}

.bg_btnContactHeader:hover {
    
    margin: auto;
    background: #C5BDBD;
    border: 5px solid white;
    position:relative;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.80);

    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #000000;
    height:40px;
    width:40px;
    padding-left:2px;
    padding-top: 2px;
}

.bg-dcontact {
    background-color:#00A779;
    height:35px;
    color:#000000;
    padding-top: 6px;
}

h7 {
    color:#FFFFFF;
    font-size:18px;
    padding-left: 10px;
    padding-top:8px;
    font-family: Arial, sans-serif;
    font-size: 1.200em;
    text-shadow: 0px 1px 0px #1a1a1a;
}