﻿BODY {
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	color : #6F5E99;
	background-color: #EBEBEB;
	margin:0;
	padding:0;
}

img
{
	border:0px;
}

A:link {
	COLOR: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

A.tooltip {
	COLOR: #000000;
}

A.tooltip:visited{
	COLOR: #C176A7;
    font-family: Arial, Helvetica, sans-serif;
}

A:unknown {
	COLOR: #660000;
}

A:hover {
	COLOR: #660000;
	text-decoration:none;
}

A:visited{
	COLOR: #ffffff;
}

H1,H2,H4,H5,H6 
{
	font-family: Arial, Helvetica, sans-serif; 
	COLOR: #660000;
}


/*------Login------*/
.LEncaSup
{
	background:url(../../Img/Login/encaLTop.png) no-repeat ;
	height:90px;
}
.LEncaCen
{
	background:url(../../Img/Login/encaLCenter.png)  ;	
}

.LEncaInf
{
	background:url(../../Img/Login/encaLBottom.png) no-repeat ;
	height:41px;
}
.LEtiquetaC
{
	color:#666666;
	font-family:Verdana;
	font-size:11px;
	vertical-align:middle;
	text-align:right;
	font-weight:bold;
	
}

.txtLogin
{
	background: url(../../Img/Login/FtxtLogin.png);
	padding:7px;
	font-family:Tahoma;
	font-size:15px;
	border:1px solid #CCC;
}

.txtLoginBorde
{
	padding:5px;
	background:#EBEBEB;
}

.divLoginMsg
{
	width: 254px; 
	height: 138px; 
	margin:auto; 
	border-right: #cc9900 1px solid; 
	border-top: #cc9900 1px solid; 
	border-left: #cc9900 1px solid; 
	border-bottom: #cc9900 1px solid; 
	background-color: #ffffff; 
	color: #ff3333; 
	text-align: center;
}


/*------End Login------*/


/*--------Master Page-----------*/

#cPrincipal
{
	margin:auto;
	width:1150px;
	height:auto;
}

.MPsup_izq,.MPsup_med,.MPsup_der
{
height:11px;
font-size:1px;
line-height:0.1em;
margin:0;
padding:0;
}

.MPsup_izq
{
background:url(../../Img/MasterPage/ms_3.png) no-repeat left top;
width:11px;
}

.MPsup_med
{
background:url(../../Img/MasterPage/ms.png) repeat-x;
}

.MPsup_der
{
background:url(../../Img/MasterPage/ms_3.png) no-repeat right top;
width:11px;
}



.MPder
{
background:url(../../Img/MasterPage/ms_2.png) repeat-y right;
width:11px;
margin:0;
padding:0;
}

.MPizq
{
background:url(../../Img/MasterPage/ms_2.png) repeat-y left;
width:11px;
margin:0;
padding:0;

}



.MPinf_izq,.MPinf_med,.MPinf_der
{
height:11px;
font-size:1px;
line-height:0.1em;
margin:0;
padding:0;

}

.MPinf_izq
{
background:url(../../Img/MasterPage/ms_3.png) no-repeat left bottom;
width:11px;
}

.MPinf_med
{
background:url(../../Img/MasterPage/ms.png) repeat-x bottom;
}

.MPinf_der
{
background:url(../../Img/MasterPage/ms_3.png) no-repeat right bottom;
width:11px;
}


.MPmed
{
/* Comento esta linea porque no esta la imagen, solo dejo el color de fondo - Lucas 01-07-2015
background: #C10000 url(../../Img/MasterPage/fp.png) repeat-x;*/
background: #0054A0;
padding:10px;
z-index:-1;
}


#cEnca2
{
border-top:1px solid #750000;
border-left:1px solid #750000;
border-right:1px solid #750000;
border-bottom:1px solid #750000;
width:100%
}

#cEnca
{
border-top:1px solid #FFF;
border-left:1px solid #FFF;
border-right:1px solid #FFF;
}
.FEnca
{
	background:url(../../Img/MasterPage/fenca.png);
	height:92px;
}

.FEncaNS
{
	background:url(../../Img/MasterPage/logoD.png) right no-repeat ;
	height:62px;	
}

.FMenuS
{
	background:url(../../Img/MasterPage/fmenu.png);
	height:25px;
	padding:0px;
}


/*--------End Master Page-----------*/
.Tabla
{
	
	font-size:11px;
}
/*
.TablaTitulo
{
	text-align:left;
	background:#DCDCDC;
	font-weight:bold;
	padding:3px;
	background:#FFF url(../../Img/ftitulo.png) repeat-x ;
	color : #660000;
}
*/

.CampoCelda
{
	text-align:left;
	color:#000;
	/*background:#DCDCDC;*/
}

.CampoCeldaR
{
	text-align:right;
	color:#000;
	/*background:#DCDCDC;*/
}

.txtBox
{
	margin:0px;
}
.CeldaBox, .txtCeldaBox
{
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;	
	text-align:left;	
	background:#FFF !important;
	padding:2px;
	padding-left:4px;
}

.txtCeldaBox
{	
	padding:3px;
	padding-left:5px;
	padding-bottom:4px;
	display:block
}

.MarcoTabla
{
border:solid 1px #CCC;
background-color: #EBEBEB;
color:#000;
}


.divLoading {
   background:#FFFFFF;
   margin:10px;
   font-family:Verdana;
   font-size:11px;
   color:#000;
   font-weight:bold;
   border:1px solid #0054A0;
   height: 27px !important;
}

#Copy
{
	margin:auto;
	width:1000px;
	text-align:center;
	height:25px;	
    color:#000000;
}

/*ESTILOS TEXBOX*/
.txtUserName, .txtUserNameFocus, .txtPassword, .txtPasswordFocus {
	PADDING: 3px 4px 3px 19px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; 
	BORDER: #685A3C 1px solid;	
}
.txtTexto,
.txtTextoM, 
.txtTextoFocus,
.txtTextoFocusM,
.txtTextoWS,
.txtTextoWSFocus {
	PADDING: 3px 3px 3px 3px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verda1na, Arial, Helvetica, sans-serif; 
	border-top:#685A3C 1px solid;
	border-left:#685A3C 1px solid;	
	border-bottom:#D4D0C8 1px solid;
	border-right:#D4D0C8 1px solid;
	
 }
.txtTexto {BACKGROUND:#FFF;}
.txtTextoFocus {BACKGROUND: lightyellow;}
.txtTextoM {BACKGROUND:#FFF;text-transform:uppercase}
.txtTextoFocusM {BACKGROUND: lightyellow;text-transform:uppercase}

.txtTextoWS {BACKGROUND:#FFFF99;}
.txtTextoWSFocus {BACKGROUND: lightyellow;}

.txtUserName{BACKGROUND: url(../../img/Login/icon_user.gif) #fff no-repeat 1px 1px;}
.txtUserNameFocus{BACKGROUND: url(../../img/Login/icon_user.gif)  lightyellow no-repeat 1px 1px;}
.txtPassword {BACKGROUND: url(../../img/Login/key.gif) #fff no-repeat 1px 1px;}
.txtPasswordFocus{BACKGROUND: url(../../img/Login/key.gif) lightyellow no-repeat 1px 1px;}

/*---FIN ESTILOS TEXBOX*/

/*ESTILOS BOTONES*/
.btnStyle, .btnStyleSobre{
BORDER: #A22964 1px solid; 
border-color:#A22964;
FONT-SIZE: 11px; 
WIDTH: 95px;
COLOR: #ffffff; 
FONT-FAMILY: Arial, Helvetica, sans-serif; 
TEXT-ALIGN: center;
cursor:pointer;
}
.btnStyle{
BACKGROUND: url(../../img/Page/FBtn.png) #A22964 repeat-x ; 
background-position:bottom;
}
.btnStyleSobre{
BACKGROUND: #172E54; 
BORDER: #172E54 1px solid; 
border-color:#172E54;
}
/*---FIN ESTILOS BOTONES*/

.BotonOculto
{
	display:none;
}





/*-------PARA EL GRID EN GENERAL--------*/
.Grid
{
 border:1px solid #DBDBDE;
 vertical-align:top;
 color:#660000;
}

.Grid_Cabecera { 
  vertical-align: middle;    
  text-align: center; 
  font-family: Verdana;
 
  /*background:#107C6F url(../../img/grid/HeaderFs.gif) repeat-x;*/
  background:#A22964;
  color:#ffffff;   
  border-color:#000000;  
  margin:100px;  
 } 
 
.Grid_Cabecera th {
   padding-top:3px;
   padding-bottom:4px;
}

.Grid_Cabecera A, .Grid_Cabecera SPAN {
	padding-top: 0px;
	text-decoration: none;
	padding-right:12px;
	color:#685A3C;
	background: url(../../img/grid/sor.gif) no-repeat;
	background-position:right;
}

.Grid_Cabecera A:hover {
	text-decoration: underline;
	color:#685A3C;
}

.Grid_Pie { 
  font-family: Verdana; 
  font-size:8pt; 
  font-weight:bold; 
  background-color: #AABFB8; 
  color:#000000;   
  border-color:#000000;
} 

.Grid_Row_Normal { 
  font-family:verdana; 
  font-size: 8pt; 
  font-weight:normal; 
  font-style:normal; 
  background-color:#ffffff ;   
  color:black; 
  border-color:#000000;
} 

.Grid_Row_Alternativo { 
  font-family:verdana; 
  font-size: 8pt; 
  font-weight:normal; 
  font-style:normal; 
  background-color:#EAEAEC; 
  Height:25px;   
  border: #DBDBDE 1px solid;
  color:#660000; 
} 

.Grid_Row_Editado { 
   font-family:verdana; 
   font-size: 8pt; 
   font-weight:bold; 
   font-style: normal; 
   background-color:#FDF8C2;   
   color:#750000; 
} 

.Grid_Row_MouseOver { 
  font-family:verdana; 
  font-size: 8pt; 
  font-weight:normal; 
  font-style:normal; 
  background-color:#D1E6C9;   
  color:black; 
  border-color:#000000;
}

.Grid_Row_Seleccionado { 
  font-size:8pt; 
  background-color: #FFFFE0;
  /*background-color: #FFFFA4; */  
  color:#750000; 
} 

.Grid_Colum_Seleccionado { 
  font-family: Verdana; 
  font-size:8pt; 
  font-weight:bold; 
  direction: ltr; 
  text-align: left; 
  color: Red; 
  display: inline; 
  z-index: auto; 
} 

.Grid_pagina { 
  font-size:8pt; 
  font-weight:bold;   
  color:#750000; 
  background-color: #FDEAB6; 
  Height:9px; 
  background-image: url(images/test1.jpg); 
} 

.grid_item_especial { 
  font-family:verdana; 
  font-size: 7pt; 
  font-weight:normal; 
  font-style:normal; 
  background-color:#999999; 
  color:#ffffff; 
  Height:8px; 
  border-color :#000000;
} 


.Grid_Paginacion {
	background-image: url(../../img/grid/defaultItemBg.gif);
	background-repeat: repeat-x;
	height: 25px;
	padding-left: 11px;
	font-weight:bold;
}


/* -------TABLA Q CONTIENE EL GRID-------*/
/*table.Grid
{  
     border-color :  #336699;
     border:2px solid; 
 }*/ 

 table.Grid tr , table.Grid td { 
    border-color :#DBDBDE;
    padding : 1px;
    vertical-align:middle;
 }

  table.Grid table {  
    margin:2px;  
    border-collapse: collapse
 }
 
 table.Grid table td, table.Grid table tr { 
     font: 12px "Trebuchet MS",Arial;    
     padding-top:3px;
     padding-left:0px;
     padding-right:0px;
     padding-bottom:3px;
     margin:0px;
     font-weight: bold;     
     border: 0px solid;     
 }
 
  table.Grid table td a { 
    padding: 2px 5px 2px 5px;
    margin-right: 2px;	
    border:1px solid #999999;	
    text-decoration: none; 	
    color:#685A3C;	
 } 
 
  table.Grid table td a:hover, table.Grid table td a:active {
    border:1px solid #999999;
    color:#685A3C;
    background:#DEDEDE;
}
  table.Grid table td span {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #999999;
    font-weight: bold;
    background-color:#DEDEDE;
    color: #FFF;
      color:#685A3C;
}
/*---FIN DE GRID ESTILOS*/



.exito, .error {
    border: 1px solid;
    margin: 0px;
    padding:8px 8px 8px 35px;
    margin-bottom:3px;
    background-repeat: no-repeat;
    background-position: 10px center;                         
}
.exito {
    color: #468847;
    background-color: #dff0d8;
    background-image:url(../../Img/Icons/exito.png);
    border-color: #D6E9C6;
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    background-image:url(../../Img/Icons/error.png);
}


/*Model JQuery*/

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#fff;}

/* Container */
#simplemodal-container {height:320px; width:600px;  background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {}
#simplemodal-container a.modalCloseImg {background:url(img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}


#simplemodal-container a.modal-close,
#simplemodal-container a.modal-close:link,
#simplemodal-container a.modal-close:active,
#simplemodal-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:4px; top:4px; }
#simplemodal-container a.modal-close:hover {}

#simplemodal-container a.modal-closePrint
{
   margin-right:4px;      
}
#simplemodal-container .modal-DivclosePrint
{
   width:100%;
   height:18px;
   text-align:right; 
   background:#2C483C;   
}


.TablaFrm
{
  margin:auto;
}


.TablaMarco
{
    border:solid 1px #CCC;
    background-color: #EBEBEB;
    color:#A22964;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
}

.TablaTitulo
{
	text-align:left;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	background:#DCDCDC;
	font-weight:bold;
	padding:3px;
    /*background:#FFF url(../../Img/ftitulo.png) repeat-x ;*/
	color : #A22964;
}

.TablaLabelR
{
    text-align:right;
    vertical-align:middle;
    font-size:11px;
}


.TablaCeldaBox, .TablaCeldaTextBox
{
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;	
	text-align:left;	
	background:#FFF !important;
	padding:2px;
	padding-left:4px;
}

.TablaCeldaTextBox
{	
	padding:3px;
	padding-left:5px;
	padding-bottom:4px;
	display:block
}

.CampoObligatorio
{
    background:url(../../Img/crequerido.png) no-repeat top left ;
}


.LSETitulo
{
	background:#FFFFDA;
	padding-top:1px;
	padding-bottom:1px;	
}

.titleProduct {
    color: #000000;
}