﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Reportes.master.vb" Inherits="VANSiniestros.Reportes" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="FirstCtrlID" http-equiv="X-UA-Compatible" content="IE=8" />
    <title>Federación Patronal Seguros SA - Atención de Siniestros</title>    
    <link rel="stylesheet" type="text/css" href="~/Styles/Site.css"/>
    <script type="text/javascript" src="../Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../Scripts/ui.core.js"></script>   
    <script type="text/javascript" src="../Scripts/ui.dropdownchecklist.js"></script>              
    <script type="text/javascript">        

        $(window).resize(resize);

        function viewerPropertyChanged(sender, e) {
            if (e.get_propertyName() === 'isLoading') {
                var viewer = $find('ctl00_MainContent_RptV');
                if (!viewer.get_isLoading())
                    resizeWithOffset();
            }
        }

        function resizeWithOffset() {
            resize(11);
        }

        function resize(offset) {
            if (typeof (offset) == 'object' || offset == 'undefined')
                offset = 0;

            // only apply if filter parameter panel is present
            var parameterHeight =altoEnca; //$('#FiltroRpt').height();
            if (parameterHeight != null) {

                // get height of the report viewer toolbar
                var toolbarHeight = $('#RptV_fixedTable > tbody > tr:nth-child(4)').height();

                // get height of the padding between actual report content and toolbar
                var paddingHeight = $('#ctl00_MainContent_RptV_fixedTable').height() - ($('#ctl00_MainContent_RptV_fixedTable > tbody > tr:nth-child(5) > td:nth-child(3)').height() + toolbarHeight);

                // set new height.        
                var newHeight = ($(window).height() - (parameterHeight + toolbarHeight + 11)) + offset;
                $('#ctl00_MainContent_RptV_fixedTable > tbody > tr:nth-child(5) > td:nth-child(3)').height(newHeight);
                $('#ctl00_MainContent_RptV_fixedTable > tbody > tr:nth-child(5) > td:nth-child(3) > div').height(newHeight);
            }
        }

    </script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server" id="aspnetForm">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>

    <table id="cEnca" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="width:41%; height:65px; vertical-align:top" class="FEnca">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/img/MasterPage/logo.png" /></td>
            <td style="width:37%; height:65px; vertical-align:top" class="FEnca"><p>&nbsp;</p>
              </td>
            <td style="width:22%; height:65px; vertical-align:top" class="FEnca">
                <asp:Image ID="Image2" runat="server" 
                    ImageUrl="~/img/MasterPage/logoD.png" /></td>
          </tr>
          <tr>
              <td class="FMenuS" colspan="3">
           
                
                <table  border="0" cellspacing="0" cellpadding="0" style="width: 100%">
                    <tr>
                        <td colspan="2" style="width: 742px">                        
							<div id="mainnav" style="width: 100%;"> 
													<asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" 
                                                        EnableViewState="False" IncludeStyleBlock="False" Orientation="Horizontal" 
                                                        DataSourceID="SiteMapDataSource1">
									<Items>
										<asp:MenuItem NavigateUrl="~/Default.aspx" Text="Home">
										</asp:MenuItem>
										<asp:MenuItem Text="Siniestros" Value="Siniestro">
									        <asp:MenuItem NavigateUrl="~/Siniestro/SiniestroRegistro.aspx" 
                                                Text="Registro Solicitud"></asp:MenuItem>
                                            <asp:MenuItem NavigateUrl="~/Siniestro/SiniestroSeguimiento.aspx" 
                                                Text="Seguimiento" Value="Acerca de"></asp:MenuItem>
                                            <asp:MenuItem Text="Evaluación" Value="Evaluación" 
                                                NavigateUrl="~/Siniestro/SiniestroSeguimiento.aspx?op=Eval"></asp:MenuItem>
                                        </asp:MenuItem>
									    <asp:MenuItem Text="Reclamos" Value="Reclamos">
                                            <asp:MenuItem NavigateUrl="~/Reclamo/ReclamoRegistro.aspx" Text="Registro" 
                                                Value="Registro"></asp:MenuItem>
                                        </asp:MenuItem>
									    <asp:MenuItem Text="Reportes">
                                            <asp:MenuItem Text="Reclamos" Value="Reclamos" 
                                                NavigateUrl="~/Reportes/rptReclamos.aspx"></asp:MenuItem>
                                        </asp:MenuItem>
									</Items>
								</asp:Menu>							
							                        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" 
                                                        ShowStartingNode="False" />
							</div>                                    
						</td>
                        <td style="text-align:right; vertical-align:middle; padding-right:8px; width: 200px; color:#ffffff">
                        Usuario:
                            <asp:LoginName ID="LoginName2" runat="server" Font-Bold="True" />
                |
                <asp:HyperLink ID="HyperLink1" runat="server" Font-Bold="True" NavigateUrl="~/Login.aspx?CS=SignOut">Salir</asp:HyperLink></td>
                    </tr>
                </table>
              </td>
            </tr>
        </table>

  <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
  <script type="text/jscript" language="javascript">
      Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
      function EndRequestHandler(sender, args) {
          if (args.get_error() != undefined) {
              var errorMessage;
              if (args.get_response().get_statusCode() == '12030' || args.get_response().get_statusCode() == '12031') {
                  args.set_errorHandled(true);
                  //window.open ('Login.aspx', '_parent'); 
                  window.location.reload();

              }
              else {
                  // not my error so let the default behavior happen 
              }
          }
      } 
</script>   
    </form>




</body>
</html>

