﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/NewPrincipal.Master" AutoEventWireup="true"
    CodeBehind="frmMantMaestro.aspx.cs" Inherits="AONWebMotor.Maestro.frmMantMaestro" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>
        <asp:Label ID="lblH1" runat="server" Text="Label"></asp:Label>
        </h1>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td class="Form_tdBorde">
            </td>
            <td>
                <table class="Form_Fondo" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                    <tr>
                        <td class="Form_SubTitulo" colspan="6">
                            MANTENIMIENTO MAESTRO
                        </td>
                    </tr>
                    <tr>
                        <td class="Form_TextoDer">
                            Tabla:
                        </td>
                        <td colspan="2">
                            <asp:DropDownList ID="ddlTabla" runat="server" Width="250">
                            </asp:DropDownList>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="Form_tdBorde">
            </td>
        </tr>
    </table>
</asp:Content>
