/*---------------- ddlevelsmenu-base.css -------------------- */
/* ######### Drop Down DIVs CSS  ######### */

.ddsubmenustyle, .ddsubmenustyle div{ /*topmost and sub DIVs, respectively*/
font-family:Verdana,Ariel,Geneva,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
background: white;
/*border: 1px solid black;*/
border-bottom-width: 0;
visibility: hidden;
z-index: 100;
border-top:1px solid #F08B8E; 
}

.ddsubmenustyle ul{
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px none;

}

.ddsubmenustyle li a{
display: block;
width: 200px; /*width of menu (not including side paddings)*/
text-decoration: none;
padding: 4px 5px;
	padding-left:5px;
	padding-bottom:5px;
	padding-top:5px;		
	border-bottom:1px solid #009DE0; /*#BF767F;	*/
	border-left:10px solid #009DE0;
	border-right:2px solid #009DE0;
	background:#FBF7F7; /*#F7EFF0; url("Img/Menu/FSubMenu.png");*/
	color:#000; 
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width: 200px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
    color:#FFF;	
	background:#43BCE0;
	text-decoration:none;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}
/*---------------- /ddlevelsmenu-base.css -------------------- */










/*---------------- ddlevelsmenu-sidebar.css -------------------- */
/* ######### Marker List Vertical Menu ######### */

.markermenu{
width: 175px; /*width of side bar menu*/
clear: left;
position: relative; /*Preserve this for "right" arrow images (added by script) to be positioned correctly*/

}

.markermenu ul{
list-style-type: none;
margin: 5px 0;
padding: 0;
border: 1px solid #9A9A9A;

}

.markermenu ul li a{
background: #F2F2F2 url(bulletlist.gif) no-repeat 3px center; /*light gray background*/
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: #00014e;
display: block;
width: auto;
padding: 3px 0;
padding-left: 20px;
text-decoration: none;
border-bottom: 1px solid #B5B5B5;
}

* html .markermenu ul li a{ /*IE6 hack*/
width: 155px;
}

.markermenu ul li a:visited, .markermenu ul li a:active{
color: #00014e;
}

.markermenu ul li a:hover, .markermenu ul li a.selected{
color: white;
background-color: black;
}

/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */

.blackwhite li a{
background: white;
}

.blackwhite li a:hover{
background: black;
color: white;
}
/*---------------- /ddlevelsmenu-sidebar.css -------------------- */









/*---------------- ddlevelsmenu-topbar.css -------------------- */
/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font-family:Verdana,Ariel,Geneva,Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
list-style-type: none;
/*background: #414141;*/
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 6px 8px; /*padding inside each tab*/
border-left:1px solid #FFF;
border-right:1px solid #660000;	
margin-bottom:1px;
margin-top:1px;
color:#FFFFFF; 	
/*background: #414141;*/
}

.mattblackmenu li a:visited{
color: #FFFFFF;
}

.mattblackmenu li a:hover{
background: #43BCE0; /*background of tabs for hover state */
}

.mattblackmenu a.selected{
background: #FFF; /*background of tab with "selected" class assigned to its LI */
}
/*---------------- /ddlevelsmenu-topbar.css -------------------- */

