﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="dEliminar.aspx.vb" Inherits="VANInsurance.dEliminar" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    
     <script type="text/javascript">
         function CerrarPagina(page) {
           var parentWindow = window.parent;
           parentWindow.OcultarEliminarPCModal(page);
       }
    </script>

    
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
