﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Test.aspx.vb" Inherits="VANSiniestros.Test" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
      <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
      <script src="../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>  
<script src="../Scripts/jquery.simplemodal-1.4.3.js" type="text/javascript"></script>  
    <script type="text/javascript">

        function AdjuntarDoc(pID) {
            
           /*
            var src = "pAdjuntarDoc.aspx?ID=" + pID;
            $.modal('<iframe src="' + src + '" height="95" width="635" style="border:0" frameborder=0>', {
                closeHTML: "<a href='#' title='Cerrar' class='modal-close'><img src='../Images/cerrar.gif' alt='Cerrar' width='16' height='16'/></a>",
                containerCss: {
                    backgroundColor: "#FFF",
                    borderColor: "#750000",
                    height: 100,
                    padding: 0,
                    width: 640
                },
                overlayClose: false//,
                //appendTo: '#aspnetForm6',
                //appendTo: 'body',
                //persist: false
            });

            //event.preventDefault();
            */

            var src = "http://365.ericmmartin.com/";
					$.modal('<iframe src="' + src + '" height="450" width="830" style="border:0">', {
						closeHTML:"",
						containerCss:{
							backgroundColor:"#fff", 
							borderColor:"#fff", 
							height:450, 
							padding:0, 
							width:830
						},
						overlayClose:true
					});
					
            
            
        }
 </script>
</head>
<body>
    <div id="modulo">
    </div>
    <form id="aspnetForm6" runat="server" name="aspnetForm">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div>
        <input id="Button1" type="button" value="button" onclick="AdjuntarDoc(45);" />
    </div>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
    </asp:UpdatePanel>
    <asp:UpdateProgress ID="UpdateProgress1" runat="server">
    </asp:UpdateProgress>
    <asp:TabContainer ID="TabContainer1" runat="server" ActiveTabIndex="0" 
        Width="508px">
        <asp:TabPanel runat="server" HeaderText="TabPanel1" ID="TabPanel1">
        </asp:TabPanel>
        <asp:TabPanel ID="TabPanel2" runat="server" HeaderText="TabPanel2">
        </asp:TabPanel>
    </asp:TabContainer>
    </form>
</body>
</html>
