﻿.Header
{
	background-color: #D9EAFF;
}

.HeaderMP
{
	background-color:White;
}

.Body
{
	font-family: Tahoma;
	font-size: 11px;
	background-color: #ecf0f5;
}

.BodyMP
{
	font-family: Tahoma;
	font-size: 11px;
	background-color:White;
}

.DivHeight096
{
	position: absolute;
	left: 1%;
	top: 1.9%;
	right: 1%;
	bottom: 1.9%;
	width: 98%;
	height: 96%;
	
}

.DivHeight100
{
	position: fixed;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
}

.TableBorderSolid
{
	border-right: #7A7474 1px solid;
	border-top: #7A7474 1px solid;
	border-left: #7A7474 1px solid;
	border-bottom: #7A7474 1px solid;
}

.DefaultRootHome
{
	margin: 3px 0px 0px 16px;
}

.FooterText
{
	font-weight: normal;
	font-size: 11px;
	color: #cccccc;
	font-family: Tahoma;
	text-decoration: none;
}

.Label
{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
}

.LabelRepTitular
{
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;	
}

.LabelRep
{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;	
}

.LabelReporte
{
	font-family: Tahoma;
	font-size: 11px;		
}

.Validation
{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}

.CajaTextoGrande
{
	font-size: 11px;
	width: 250px;
	height: 16px;
	font-family: Tahoma;
	background-color: #FFFFC6;
}
.Etiqueta
{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
}
.CajaTextoChico
{
	font-size: 11px;
	width: 80px;
	height: 16px;
	font-family: Tahoma;
	background-color: #FFFFC6;
}

.TableStyle
{
	border-right: #006699 1px solid;
	border-top: #006699 1px solid;
	border-left: #006699 1px solid;
	border-bottom: #006699 1px solid;
}

.TableStyleReporte
{
	border-right: #C0C0C0 1px solid;
	border-top: #C0C0C0 1px solid;
	border-left: #C0C0C0 1px solid;
	border-bottom: #C0C0C0 1px solid;
}

.TableLogin
{
	border-color: #006699;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
}

.updateProgress
{
    border-width:1px; 
    border-style:solid; 
    background-color:#CCCCCC; 
    position:absolute; 
    width:130px; 
    height:50px;    
}

.updateProgressMessage
{
	margin: 3px;
	font-family: Tahoma;
	font-size: small;
	vertical-align: middle;
}

.modalBackground
{
	FILTER: alpha(opacity=80);
	background-color: gray;
	opacity: 0.8;
	top: 0px ;
    left: 0px;
    position: absolute ;
    z-index: 1 ;
}

.Header_Linea
{
    background-image : url('Imagenes/header_mp2.png');
    background-repeat : repeat-x;
    text-align : left;
    vertical-align : top;
    width : 950px;
    height : 74px;  
}

.FondoPantalla
{
    background-image : url('Imagenes/backGround.png');
    background-repeat :repeat-x repeat-y;    
}
