body {
	padding: 0;
	margin: 0;
	/*font-size: 62.5%;*/
	font-family: Arial, sans-serif;
}

label {
	display: inline;
}

.holder {
	width: 100%;
	background: #f9f9f9;
	margin: 0px auto;
	padding: 60px 0;
	font-size: 1em;
}

.center {
	margin: 0px auto;
}

input[type="checkbox"] {
	display: none;
}

.top-content {
	padding: 40px 0;
}
h1 {
	font-size: 3em;
	font-family: 'adelle-sans', sans-serif;
	text-align: center;
}



/* ===============================

/* ==================================================================== */
/* CHECKBOX TYPE 1 ---------------------------------------------------- */
/* ==================================================================== */

[id^="checkbox-1-"] + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
}

[id^="checkbox-1-"] + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

[id^="checkbox-1-"]:checked + label {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

[id^="checkbox-1-"]:checked + label:after {
	content: '\2715';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #758794;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
}

#checkbox-1-2 + label {
	width: 10px;
	height: 10px;
}

#checkbox-1-3 + label {
	width: 20px;
	height: 20px;
}

#checkbox-1-2 + label:after {
	left: 0px;
	padding: 6px 0 0 0;
}

#checkbox-1-3 + label:after {
	top: -6px;
	left: 0px;
	padding: 17px 0 0 0;
}