﻿.Login_Encabezado
{
    background-image : url('../Imagenes/encabezado.png');
    background-repeat : no-repeat;
    text-align : center;
    vertical-align : top;
    width : 617px;
    height : 90px;  
}
.Login_Cuerpo
{
    background-image : url('../Imagenes/cuerpo.png');
    background-repeat : repeat-y;
    text-align : center;
    vertical-align : top;
    width : 617px;
    height : 295px;  
}
.Login_Pie
{
    background-image: url('../Imagenes/pie.png');
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: top;
    width: 617px;
    height: 90px;
    color: #7A7474;
    font-size: larger;
    font-family: Calibri;
    
}
.Login_TextBox {
    background: url("../Imagenes/txtLogin.png") repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    font-family: Tahoma;
    font-size: 15px;
    padding: 7px;   
}
.Login_TextBoxBorde {
    background : none repeat scroll 0 0 #EBEBEB;
    padding : 5px;
    text-align : left ;
    width : 272px; 
}
.Login_Label {
    color: #666666;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}
.Login_Titulo
{
    background-image: url('../Imagenes/LAcceso.png') no repeat;    
}
.Login_TdTitulo
{
    VERTICAL-ALIGN: top;    
    WIDTH: 272px; 
    HEIGHT: 34px; 
    TEXT-ALIGN: left;
}
.Login_Letra
{    
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: top;    
    color: #7A7474;
    font-size: medium;
    font-family: Calibri;
    
}
.Login_BackGround
{
	background-image : url('Imagenes/backGround.png');
    background-repeat :repeat-x repeat-y;    	
}	
