﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ccCrossSelling.ascx.vb" Inherits="VANInsurance.ccCrossSelling" %>

<%--<link href="<%# ResolveUrl("~/")%>/Estilos/radioButtons.css" rel="stylesheet" />
<link href="<%# ResolveUrl("~/")%>/Estilos/styles.css" rel="stylesheet" />
<link href="<%# ResolveUrl("~/")%>/App_Themes/Default/CrossSelling.css" rel="stylesheet" />
<script src="<%# ResolveUrl("~/")%>/Scripts/jquery-1.8.1.min.js"></script>
<script src="<%# ResolveUrl("~/")%>/Scripts/modernizr.js"></script>
<script src="<%# ResolveUrl("~/")%>/Scripts/jquery.simplemodal.1.4.2.min.js"></script>--%>


<link href="../Estilos/radioButtons.css" rel="stylesheet" />
<link href="../Estilos/styles.css" rel="stylesheet" />

<script src="../Scripts/jquery-1.8.1.min.js"></script>
<script src="../Scripts/modernizr.js"></script>
<script src="../Scripts/jquery.simplemodal.1.4.2.min.js"></script>


<script type="text/javascript">




    function BuscarModal(pDiv, pWidth, pHeight) {
        $(pDiv).modal({
            closeHTML: "<a href='#' title='Cerrar' class='modal-close'><img src='../Img/cerrar.gif' alt='Cerrar' width='16' height='16'/></a>",
            containerCss: {
                backgroundColor: "#FFF",
                borderColor: "#2C483C",
                height: pHeight,
                padding: 0,
                margin: 0,
                width: pWidth
            },
            overlayClose: false,
            appendTo: '#aspnetForm',
            persist: true
        });
    }

    function modal(src) {
        $.modal('<iframe frameborder="0" src=' + src + ' height="400" width="650" style="border:0">', {
            closeHTML: "<a href='#' title='Cerrar' class='modal-close'><img src='../Img/cerrar.gif' alt='Cerrar' width='16' height='16'/></a>",
            containerCss: {
                backgroundColor: "#FFF",
                borderColor: "#2C483C",
                height: 400,
                padding: 0,
                width: 650
            },
            overlayClose: false,
            appendTo: '#aspnetForm',
            persist: true
        });
    };

    function cerrarModal() {
        $.modal.close();
    }


    $(document).ready(function () {
        $('#contenedor_cCrossSeling_hlinksTabs').val("");
    });

</script>

    <style type="text/css">
        .auto-style2 {
            width: 4px;
        }

        .auto-style3 {
            height: 16px;
        }

    </style>

    <%=hlinksTabs.Value%>
    <asp:HiddenField runat="server" Value="" ID="hlinksTabs"/>
    

