body, ul, li, h1, h2, h3{
	margin:0;
	padding:0;
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2px;
	color: #fff;
	overflow-x: hidden;
}
.ps_overlay
{
	z-index: 90;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
/* Image container style */
.ps_container{
	/*width:480px;*/
	height:auto;
	position:absolute;
	top:50%;
	margin-top:-175px;
	left:50%;
	margin-left:-240px;
	z-index:100;
}
.ps_container img{
	border:5px solid #fff;
	position:absolute;
	top:50%;
	left:50%;
	-moz-box-shadow:1px 1px 10px #000;
	-webkit-box-shadow:1px 1px 10px #000;
	box-shadow:1px 1px 10px #000;
}
/* Close button for preview mode */
a.ps_close{
	background: url('../Imagenes/Cotizador/close.png') no-repeat center center;
	cursor:pointer;
	width:56px;
	height:56px;
	position:fixed;
	right:10px;
	top:10px;
	z-index:1000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);	
}
/* Next photo button for preview mode */
a.ps_next_photo{
	position:absolute;
	top:50%;
	left:50%;
	width:56px;
	height:56px;
	margin:-28px 0 0 -28px;
	z-index:200;
	cursor:pointer;
	background: url('../Imagenes/Cotizador/next_photo.png') no-repeat 50% 50%;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);	
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
a.ps_next_photo:hover, a.ps_close:hover
{
	opacity: 0.8;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
/* Thumbnail slider style */
.ps_slider{
	width:800px;
	height:auto;
	position:relative;
	margin:5px auto 0px auto;
}
.ps_slider a.next,
.ps_slider a.prev{
	position:absolute;
	background-color:#000;
    background-position:center center;
    background-repeat:no-repeat;
    border:1px solid #232323;
    width:20px;
    height:20px;
    top:50%;
    margin-top:-10px;
    opacity:0.6;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    cursor:pointer;
    outline:none;
}
.ps_slider a.prev:hover,
.ps_slider a.next:hover{
    border:1px solid #333;
    opacity:0.9;
}
.ps_slider a.disabled, .ps_slider a.disabled:hover
{
	border-style: none;
	border-width: 0px;
	opacity: 0.4;
	cursor: default;
}
.ps_slider a.prev
{
    left: -30px;
    background-image: url('../Imagenes/Cotizador/prev.png');
}
.ps_slider a.next
{
    right: -30px;
    background-image: url('../Imagenes/Cotizador/next.png');
}
.ps_slider .ps_album
{
	width: 120px;
	height: auto;
	padding: 10px;
	position: absolute;
	top: 0px;
	text-align: center;
	cursor: pointer;
	-moz-box-shadow: 1px 1px 4px #000;
	-webkit-box-shadow: 1px 1px 4px #000;
	box-shadow: 1px 1px 4px #000;
	-webkit-box-reflect: below 5px -webkit-gradient(
			linear, 
			left top, 
			left bottom, 
			from(transparent), 
			color-stop(0.6, transparent), 
			to(rgb(18, 18, 18))
		);
	background-image: url('../Imagenes/Master/backGround.png');
	background-repeat: repeat;
}
.ps_slider .ps_album:hover{
		background-color:#383838;
}
/*
.ps_slider .ps_album img{
	height:90px;
	border:1px solid #444;
	-moz-box-shadow:1px 1px 4px #000;
	-webkit-box-shadow:1px 1px 4px #000;
	box-shadow:1px 1px 4px #000;
}*/
.ps_slider .ps_album .ps_desc
{
	border-style: none;
	display: block;
	background: url('../Imagenes/Cotizador/overlay.png') no-repeat right bottom;
	height: auto;
	margin-top: 10px;
	text-align: left;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	-moz-box-shadow: 0px 0px 2px #000 inset;
	-webkit-box-shadow: 0px 0px 2px #000 inset;
	box-shadow: 0px 0px 2px #000 inset;
}
.ps_slider .ps_album:hover .ps_desc{
	background-image:none;
}
.ps_slider .ps_album .ps_desc span{
	display:block;
	margin:0px 5px 5px 5px;
	border-top:1px solid #333;
	padding-top:5px;
}
.ps_slider .ps_album .ps_desc h2{
	margin:5px 5px 0px 5px;
	text-align:left;
	padding-bottom:5px;
	font-weight:normal;
	color:#ddd;
	text-shadow:0px 0px 1px #fff;
	border-bottom:1px solid #000;
}
.ps_slider .loading
{
	background: no-repeat 50% 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.ps_Logo
{
	width:120px;
	height:40px;
}
.ps_Titulo
{
	color: #990000;
	font-size: 8.5px;
	font-weight: bold;
	text-align: center;
}
.ps_TdBoton
{
	text-align:center;
}

.cot_Detalle
{
	background-image: url('../Imagenes/Master/backGround.png');
	background-repeat: repeat;
	border:0;
	width:100%;
	border-style:groove;
	border-width:thin;
}

.divLoading {
   background:#FFFFDA;
   margin:10px;
   font-family:Verdana;
   font-size:11px;
   color:#000;
   font-weight:bold;
   border:3px solid #999;
   height: 27px !important;
}