﻿.MP_BackGround
{
    /*background-color : #EBEBEB;*/
    background-image: url('../Imagenes/Master/backGround.png');
}
.MP_BackGround_ColorWhite
{
    background-color:White; 
}
.MP_BackGround_RutaUsuario
{
    background-color: #EBE1E2;
}
.MP_Forecolor_NodHijo
{
    color: #6A6A6A;
}
.MP_ForeColor_NodPadre
{
    color: #E11B22;
}
.MP_Ruta
{
   float:left;
   width:60%; 
   text-align:left;
   background-color: Transparent; 
   border-top :#FF0000;
   border-top-width: medium;
}
.MP_Usuario
{
   color :#660000;
   float:right;
   width:40%;
   text-align:right; 
   background-color: Transparent;
   padding-top:5px;
}
.MP_BordeIzq
{   
    background: url("../Imagenes/Master/borde.jpg") repeat-y scroll left center transparent;
    margin: 0;
    padding: 0;
    width: 11px;
}
.MP_BordeDer {
    background: url("../Imagenes/Master/borde.jpg") repeat-y scroll right center transparent;
    margin: 0;
    padding: 0;
    width: 11px;
}
.MP_BordeMed {
    background: url("../Imagenes/Master/bordeMed.png") repeat-x scroll center bottom transparent;
    height : 11px;
    margin: 0;
    padding: 0; 
}
.MP_BordeEsqIzq {
    background: url("../Imagenes/Master/bordeEsq.png") no-repeat scroll left bottom transparent;
    width: 11px;
}
.MP_BordeEsqDer {
    background: url("../Imagenes/Master/bordeEsq.png") no-repeat scroll right bottom transparent;
    width: 11px;
}
.MP_BordeEsqIzq, .MP_BordeMed, .MP_BordeEsqDer {
    font-size: 1px;
    height: 11px;
    line-height: 0.1em;
    margin: 0;
    padding: 0;
}
.MP_Contenedor {
    background: url("../Imagenes/Master/fondoCont.png") repeat-x scroll 0 0 #0054A0;
    padding: 10px;
}
.MP_Supmed {
    background: url("../Imagenes/Master/ms.png") repeat-x scroll 0 0 transparent;
}
.MP_Supder {
    background: url("../Imagenes/Master/ms_3.png") no-repeat scroll right top transparent;
    width: 11px;
}
.MP_Supizq {
    background: url("../Imagenes/Master/ms_3.png") no-repeat scroll left top transparent;
    width: 11px;
}
.MP_Supizq, .MP_Supmed, .MP_Supder {
    font-size: 1px;
    height: 11px;
    line-height: 0.1em;
    margin: 0;
    padding: 0;
}

