﻿.Menu_Fondo
{
    /*background: url("../Imagenes/Menu/backGround.jpg") repeat scroll 0 0 transparent;*/
    border-style: none none none none;
	background-color: #A12964;
	height: 25px;
	width: 100%;
	padding: 0;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-color: #333333;
	border-bottom-color: #333333;
    color: #FFFFFF;
}