﻿body
{
	padding: 0;
	margin: 0;
	text-align: left;
	font-family: Tahoma; 
	/*color: #585768;*/
	color: #000000;
	font-size: 8pt;
	/*font-weight: bold;*/
}
h1
{
	color: #FFFFFF;
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 15px;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	height:15px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	background-image: url('../Imagenes/Form/h1_.png');
	/*background-repeat: repeat-y;*/
	text-align: left;
	vertical-align: text-top;
	/*font-style: oblique;*/
}
a
{
	font-family: Arial, Helvetica, sans-serif;
	color: #660000; /*#E11B22;*/
	font-size: 8pt;
	text-decoration: underline;
	cursor: hand;
}
.Form_RegButtonDer
{
    width: 100%;
    text-align : left; 
}
.Form_Fondo
{    
    background-color: #EBEBEB;
    border: 1px solid #CCCCCC;
    /*font-weight: bold;*/
    padding: 3px;
    text-align: left;
    width: 775px;
    border: 0;
    border-width: 0px;
}
.Form_TextoDer
{
    text-align: right;
    font-size: 11px;
    border:0px  ;
    border-width: 0px;   
}
.Form_TextoIzq
{    
    border-style: none;
    border-color: inherit;
    text-align:left;
    font-size: 11px;
    border-width: 0px;
    margin-left: 40px;
}
.Form_SubTitulo
{
	background: url("../Imagenes/Form/HeadForm.jpg") repeat-x scroll 0 0 #FFFFFF;
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px;
	text-align: left;
	font-size: 8pt;
	border-width: 0px;
}
.Form_TextoObligatorio{
    background-color: Transparent;
    color: Red;
    font-size: 8pt;
}
.Form_tdBorde
{
    width:15px; 
}
.Form_TextBoxCod
{
    height: 15px;	
	background-color: #F7D6D6;
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	padding-left: 0px;
	margin: 2px;
	line-height: 20px;
	line-height: 18px;
	padding-top: 2px;
	padding-top: 0px;
	text-transform :uppercase;
	font-weight: bold;
	width :50px;
	border-width: 0px;
}
.Form_TextBoxDisable
{	
	background-color: #E4D7D7;
	font-family: Arial;
	font-size: 8pt;
	text-transform :uppercase;
	font-weight: bold;
	border-style : solid ;
	border-width: 1px;
	border-color : #E4D7D7;
}
.Form_TextBoxMontoDisable
{
    height: 15px;	
	background-color: #E4D7D7;
	font-family: Arial;
	font-size: 8pt;
	text-transform :uppercase;
	font-weight: bold;
	border-style : solid;
	border-color : #E4D7D7; 
	text-align:right;
	border-width: 1px;
}
.Form_TextBox
{
	height: 15px;	
	background-color: #FFFFFF;
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	padding-left: 0px;
	padding-top: 0px;
	text-transform :uppercase;
    text-align: left;
    border-width: 1px;
}
.Form_TextBoxMonto
{   
    background-color: #FFFFFF;
    color: #000000;    
	text-align:right;
	font-family: Arial;	
	text-transform :uppercase;
	font-size: 8pt;
	line-height: 20px;
	line-height: 18px;
	padding-top: 2px;
	padding-top: 0px;  
	border-width: 1px;  
}
.Form_ValSumary
{
    border: 1px solid red;    
    color: red;
    margin: 5px 0px;
    padding: 15px;
    background: url(../Imagenes/Form/alert1.png) no-repeat 0px 50%;
    background-position: right ;
}
.Form_Oculto
{
    display: none;    
}
select
{	
    font-family: Arial;
	font-size: 8pt;
	color: #000000;
	/*background-color: #660000;*/
	cursor: hand;
	/*border: solid 1px #660000;*/
	/*border-bottom: #ffffff 0px solid;*/   
	/*border-left: #ffffff 0px solid;*/
	font-variant: normal;
	font-style: normal;
	/*border-top: #ffffff 0px solid;*/
	font-weight: lighter;
	/*border-right: #ffffff 0px solid;*/
	margin: 0px;
}
input[type="button"], input[type="submit"], input[type="reset"]
{
	/*background-image: url('../Imagenes/Form/fondoBtn.gif'); 
	background-repeat: repeat-x;
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	text-align: center;
	border: 1px solid #999999;
	width: 90px;
	height:22px;
	font-weight: bold;*/

    BORDER: #A22964 1px solid; 
    BACKGROUND: url(../Imagenes/Form/FBtn.png) #A22964 repeat-x ; 
    background-position:bottom;
    border-color:#A22964;
    FONT-SIZE: 11px; 
    WIDTH: 95px;
    height:22px;
    COLOR: #ffffff; 
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    TEXT-ALIGN: center;
    cursor:pointer;

}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover
{
	/*background-image: url("../Imagenes/Form/HeadForm.jpg");
	background-repeat: repeat-x;  
	border: 1px solid #999999;
    cursor: pointer;
    color : #000000;
    font-family: Arial;
    font-size: 11px;    
    text-align: center;
    width: 90px;
    font-weight: bold;*/

    BACKGROUND: #172E54;
    BORDER: #172E54 1px solid;
    border-color: #172E54;

}
.Form_ValidOculto
{
    display : none;
}

.Form_ObjetoOculto
{
    display : none;
}
.GridWiew_SelectedRow
{   
    border-color: #FFFFFF;    
    background-color: #F7D6D6;
    cursor:pointer;    
 }
 
.GridWiew_Headers
{
	background-color: #A12964;
	border: 0px solid #FFFFFF;
	font: 8pt Arial;
	color: #FFFFFF;
	height: 12px;
}
.GridWiew_Row
{        
    /*font: 10pt Arial;
    background-color: #f2f8e8;*/
    background:#FFF !important;
    /*color: #696969;*/
}
.GridWiew_RowAlternate
{    
    border-color: #FFFFFF;    
    background-color: #E2E0E0;
 
    color: #000000;
    /*font-weight: bold;   */
}
.Form_Nota{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}
.Form_MsjLabel {
    color: #000000;
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;    
    vertical-align: middle;
    text-align : center;
}

.Form_MsjLabelLogin {
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 11px;
        
    vertical-align: middle;
    text-align : center;
}

.Form_Visible
{
	display:true;
}


.Form_Oculto
{
	display:none;
}

/*
.GridWiew_SelectedRow
{
    background-color : #F7D6D6;
    cursor:hand;
}*/


/*ESTILOS TEXBOX*/
.txtReadOnly{
	PADDING: 3px 4px 3px 3px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; 
	BORDER: #888888 1px solid;
	background:#F7F7F7;	
}


.txtUserName, .txtUserNameFocus, .txtPassword, .txtPasswordFocus {
	PADDING: 3px 4px 3px 19px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; 
	BORDER: #685A3C 1px solid;	
}
.txtTexto,
.txtTextoM, 
.txtTextoFocus,
.txtTextoFocusM,
.txtTextoWS,
.txtTextoWSFocus {
	PADDING: 3px 3px 3px 3px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verda1na, Arial, Helvetica, sans-serif; 
	border-top:#685A3C 1px solid;
	border-left:#685A3C 1px solid;	
	border-bottom:#D4D0C8 1px solid;
	border-right:#D4D0C8 1px solid;
	
 }
.txtTexto {BACKGROUND:#FFF;}
.txtTextoFo
.txtTexto {BACKGROUND:#FFF;}
.txtTextoM {BACKGROUND:#FFF;text-transform:uppercase}
.txtTextoFocusM {BACKGROUND: lightyellow;text-transform:uppercase}

.txtTextoWS {BACKGROUND:#FFFF99;}
.txtTextoWSFocus {BACKGROUND: lightyellow;}

.txtUserName{BACKGROUND: url(../../img/Login/icon_user.gif) #fff no-repeat 1px 1px;}
.txtUserNameFocus{BACKGROUND: url(../../img/Login/icon_user.gif)  lightyellow no-repeat 1px 1px;}
.txtPassword {BACKGROUND: url(../../img/Login/key.gif) #fff no-repeat 1px 1px;}
.txtPasswordFocus{BACKGROUND: url(../../img/Login/key.gif) lightyellow no-repeat 1px 1px;}


.txtTextoD {
	PADDING: 3px 3px 3px 3px; 
	MARGIN: 1px 0px 1px 2px; 
	FONT: 11px Verda1na, Arial, Helvetica, sans-serif; 
	border-top:#D4D0C8 1px solid;
	border-left:#D4D0C8 1px solid;		
	border-bottom:#D4D0C8 1px solid;
	border-right:#D4D0C8 1px solid;
	background:#FCFCFC;
 }

/*---FIN ESTILOS TEXBOX*/

/* DropDowList*/
.SelectStyle
{
	font-family: Arial;
	font-size: 11px;
	padding: 2px;
	display: inline;
	border: 1px solid #aaa;	
	MARGIN: 1px 0px 1px 2px;
}


.CampoCelda
{
	text-align:left;
	color:#000;
	/*background:#DCDCDC;*/
}

.CampoCeldaR
{
	text-align:right;
	color:#000;
	/*background:#DCDCDC;*/
}

.txtBox
{
	margin:0px;
}
.CeldaBox, .txtCeldaBox
{
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;	
	text-align:left;	
	background:#FFF !important;
	padding:2px;
	padding-left:4px;
}

.txtCeldaBox
{	
	padding:3px;
	padding-left:5px;
	padding-bottom:4px;
	display:block
}

.MarcoTabla
{
border:solid 1px #CCC;
background-color: #EBEBEB;
color:#000;
}

.divLoading {
   background:#FFFFDA;
   margin:10px;
   font-family:Verdana;
   font-size:11px;
   color:#000;
   font-weight:bold;
   border:3px solid #999;
   height: 27px !important;
}


.TablaFrm
{
  margin:auto;
}


.TablaMarco
{
    border:solid 1px #CCC;
    background-color: #EBEBEB;
    color:#000;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
}

.TablaTitulo
{
	text-align:left;
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	background:#DCDCDC;
	font-weight:bold;
	padding:3px;
    background:#FFF url(../../Img/ftitulo.png) repeat-x ;
	color : #660000;
}

.TablaLabelR
{
    text-align:right;
    vertical-align:middle;
    font-size:11px;
}


.TablaCeldaBox, .TablaCeldaTextBox
{
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;	
	text-align:left;	
	background:#FFF !important;
	padding:2px;
	padding-left:4px;
}

.TablaCeldaTextBox
{	
	padding:3px;
	padding-left:5px;
	padding-bottom:4px;
	display:block
}

.CampoObligatorio
{
    background:url(../../Img/crequerido.png) no-repeat top left ;
}


.LSETitulo
{
	background:#FFFFDA;
	padding-top:1px;
	padding-bottom:1px;	
}


.Grid_Paginacion {	
	background-repeat: repeat-x;
	height: 25px;
	padding-left: 11px;
	font-weight:bold;
}

/* -------TABLA Q CONTIENE EL GRID-------*/
/*table.Grid
{  
     border-color :  #336699;
     border:2px solid; 
 }*/ 

 table.Grid tr , table.Grid td { 
    /* border: 1px solid; */
     border-color :#255795;
     padding : 1px;
     vertical-align:middle;
 }

  table.Grid table {  
    margin:2px;  
    border-collapse: collapse
 }
 
 table.Grid table td, table.Grid table tr { 
     font: 12px "Trebuchet MS",Arial;    
     padding-top:3px;
     padding-left:0px;
     padding-right:0px;
     padding-bottom:3px;
     margin:0px;
     font-weight: bold;     
     border: 0px solid;     
 }
 
  table.Grid table td a  
  {
    font: 12px "Trebuchet MS",Arial;
	padding: 1px 5px 1px 5px;
	margin-right: 2px;	
	border:1px solid #777777;	
	text-decoration: none; 	
	color:#777777;	
	background: #fff url(../../img/grid/FPagA22.gif) 1px;	
 } 
 
  table.Grid table td a:hover, table.Grid table td a:active {
	border:1px solid #777777;
	color:#000;
	background:#DEDEDE;
}
  table.Grid table td span 
  {
      font: 12px "Trebuchet MS",Arial;
	padding: 1px 5px 1px 5px;
	margin-right: 2px;
	border: 1px solid #777777;
	font-weight: bold;
	background-color:#DEDEDE;
	color: #000;
	/*border-color:#006600;*/
}
/*---FIN DE GRID ESTILOS*/