﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="CargandoDiv.ascx.vb" Inherits="VANSiniestros.CargandoDiv" %>
<asp:Panel ID="PCar" runat="server" Width="117px">
<table class="CLoading" style="width: 121px">
    <tr>
        <td>
            <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/loading1.gif" />
            </td>
        <td style="width: 183px">
            Procesando...</td>
    </tr>
</table>
</asp:Panel>

