<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ImprimirEstCuenta.aspx.vb" Inherits="ImprimirEstCuenta" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>



<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Certificado</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <rsweb:ReportViewer ID="RptV" runat="server" Height="100%" Width="100%">
        </rsweb:ReportViewer>
    
    </div>
    </form>
</body>
</html>
