<%@ Master Language="VB"  AutoEventWireup="true" CodeFile="MasterPage2.master.vb" Inherits="MasterPage2" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta id="FirstCtrlID" http-equiv="X-UA-Compatible" content="IE=8" />
    <title>Federación Patronal Seguros SA - Consulta Seguros</title>
<style type="text/css">

	body
	{
		background-color: #FFF;
	}

</style>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    
    
    

    </form>
<script type="text/jscript" language="javascript"> 

Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler); 
function EndRequestHandler(sender, args)
{ 
    if (args.get_error() != undefined)
    {
    var errorMessage;
        if (args.get_response().get_statusCode() == '12030' || args.get_response().get_statusCode() == '12031')
        { 
        args.set_errorHandled(true);
        //window.open ('Login.aspx', '_parent'); 
        window.location.reload();
       
        }
        else
        {
        // not my error so let the default behavior happen 
        }
    }
} 

</script>      
    
</body>
</html>
