﻿<%@ Page Title="Acerca de nosotros" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeBehind="About.aspx.vb" Inherits="VANSiniestros.About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Acerca de
                                        <table cellpadding="0" cellspacing="5" class="TablaMarco" style="width: 990px" 
                                            __designer:mapid="407">
                                            <tr __designer:mapid="408">
                                                <td class="TablaLabelR" style="width: 85px" __designer:mapid="409">
                                                    Entidad:&nbsp;</td>
                                                <td style="width: 161px" __designer:mapid="40a">
                                                    &nbsp;</td>
                                                <td class="TablaLabelR" style="width: 88px" __designer:mapid="40e">
                                                    &nbsp;</td>
                                                <td style="width: 161px" __designer:mapid="410">
                                                    &nbsp;</td>
                                                <td class="TablaLabelR" style="width: 73px" __designer:mapid="412">
                                                    &nbsp;</td>
                                                <td style="width: 157px" __designer:mapid="414">
                                                    &nbsp;</td>
                                                <td __designer:mapid="416">
                                                    &nbsp;</td>
                                            </tr>
                                            <tr __designer:mapid="555">
                                                <td class="TablaLabelR" __designer:mapid="556" colspan="7">
                                                    &nbsp;</td>
                                            </tr>
                                        </table>
    </h2>
    <p>
        Coloque contenido aquí.
    </p>
</asp:Content>
